[2017-09-25 18:51] maccoylton opened #4 "Pairing doesn't appear to work on Raspberry PI"
Running on Raspberry PI, I get a bad BadRequest 400 response from my accessory when I try to pair, which I found by running through PuDB. Any ideas ?

[2017-09-25 18:59] jlusiardi commented on #4
hi,

what commands do you execute in detail? what role does PuDB play?

**discover.py** shows your accessory?

which step of **pair.py** fails?

Greetings Joachim

[2017-09-25 19:31] maccoylton commented on #4
discover.py see the devices. PuDB is a debugger that allows me to step through the code, when it send the first request to the accessory, I can see using the debugger it get back a bad request response, it fails at the asset statement that follow the response.

[2017-09-25 21:16] jlusiardi commented on #4
can you give me the output of **discover.py** for the device?

does PuDB enable you to give me the complete request and response of the first request of **pair.py**?

[2018-01-13 01:16] jslay88 opened #5 "Request: Better Documentation for creating services"
I have tried to create my own services by going through the source code.

I created my own characteristics classes with the needed type, perms, formats and values, and created my own service with those.

Everything loads fine, and the accessory shows up on the devices, but cannot successfully pair.

Also, can you provide the source to the documentation you provide the page numbers to in your sourc

[2018-01-24 07:38] jlusiardi commented on #5
Hello,

the page numbers refer to Apple's HomeKit Accessory Protocol Specification (Non-Commercial Version) in Release R1. I doubt I am allowed to distribute. The link is https://developer.apple.com//homekit/specification/ (Apple ID required).

Can you give me more details about what you are trying to do?

Regards
Joachim

[2018-02-16 18:54] #4 closed

[2018-02-18 03:20] mjg59 opened #9 "No license"
I'd like to use this module to add Homekit integration to home-assistant.io, but there's currently no license in the repository so I'm unable to. Would it be possible to add an explicit license?

[2018-02-18 16:07] jlusiardi commented on #9
mh good point. i have never really thought about which one to use and so i'm pretty unsure.

What would match home-assistent's license best?

[2018-02-18 22:11] mjg59 commented on #9
Apache License version 2.0 (https://www.apache.org/licenses/LICENSE-2.0) is probably the easiest

[2018-02-20 07:03] jlusiardi commented on #9
yeah but shouldn't there be a license statement in every file? See https://www.apache.org/licenses/LICENSE-2.0#apply ?

[2018-02-20 16:09] mjg59 commented on #9
Ideally, but it's not uncommon for projects to just carry a single license file

[2018-02-22 17:38] jlusiardi commented on #9
Would this fix your needs?

https://github.com/jlusiardi/homekit_python/tree/add_license

[2018-02-22 17:42] #5 closed

[2018-03-11 23:15] mjg59 commented on #9
Thanks!

[2018-03-11 23:15] #9 closed

[2018-03-11 23:24] mjg59 opened #12 "Unknown error on initial pair setup"
Trying to pair with an Ikea Tradfri running the latest (Homekit-compatible) firmware:

Step #3: unkown error

Packet dump of the transaction attached
[pairing.zip](https://github.com/jlusiardi/homekit_python/files/1800986/pairing.zip)

[2018-03-11 23:25] mjg59 commented on #12
I've previously played with a couple of Homekit devices that were very picky about header ordering, so I don't know if that could be contributing. I don't have a convenient iOS device - I'll try to find one so I can see what the functioning pairing looks like

[2018-03-12 00:02] mjg59 commented on #12
Ok, that doesn't seem to be it - sending an apparently identical request using curl (mocking up the same headers and ordering gives a more reasonable response.
[pairing3.zip](https://github.com/jlusiardi/homekit_python/files/1801009/pairing3.zip)

[2018-03-12 06:30] jlusiardi commented on #12
i just looked into your dump of pairing3.
Apple's spec says TLV items for state (M1) and method (Pair Setup) must be
transmitted. I am not sure if the ordering of the TLV items is relevant. Can
you try to send
`0x06 0x01 0x01 0x00 0x01 0x01`

instead of

`0x00 0x01 0x01 0x06 0x01 0x01`?

Perhaps i missed that in the documentation or IKEA Tradfi just relies on it.

[2018-03-12 07:39] mjg59 commented on #12
The problem is because http.client (in 3.5, at least) sends the headers and the body as separate packets, and this device mishandles the case. Monkey-patching http.client to send in a single packet fixes it.

[2018-03-12 08:04] mjg59 opened #13 "Tradfri doesn't respond to encrypted messages"
After monkey patching http.client to avoid https://github.com/jlusiardi/homekit_python/issues/12 I can successfully pair my Tradfri, but any packet sent after switching to SecureHttp never receives a response.

[2018-03-12 17:17] jlusiardi commented on #13
can you attach the dump? afair the stuff was pretty picky about keeping the connection open...

[2018-03-17 07:05] mjg59 commented on #13
[get_accessories.zip](https://github.com/jlusiardi/homekit_python/files/1821352/get_accessories.zip)

Interesting - there does seem to be a response, but we're never doing anything with it. I'll dig further.

[2018-03-17 07:14] mjg59 commented on #13
Oh right the response is just the ack, ignore me. I've also tried adding a Host: header to the request, since that seemed to be the only difference to what an iOS device seems to be sending at this point.

[2018-03-17 08:55] jlusiardi commented on #13
The get_accessories dump seems odd. This should contain 0x06 for kTLVType_State somewhere?

[2018-03-17 16:47] mjg59 commented on #13
It looks like there's an 0x06 TLV at the end of each POST to pair-verify, and one at the end of each response?

[2018-03-17 17:40] mjg59 commented on #13
Ah - SecureHttp isn't changing \n to \r\n

[2018-03-17 17:44] mjg59 commented on #13
Yes, adding
 	data = data.replace("\n", "\r\n")
to the top of _handle_request() makes this work

[2018-03-17 18:45] mjg59 commented on #13
https://github.com/jlusiardi/homekit_python/pull/14

[2018-03-18 12:01] jlusiardi commented on #13
so you get progress on the tradfri, any success in switching it on and off?

[2018-03-18 12:02] jlusiardi commented on #12
is this something to be fixed within this project?

[2018-03-18 19:21] mjg59 commented on #13
I'm using Hue bulbs, and it turns out that the Tradfri will only expose Ikea bulbs over Homekit :( I suspect it'd work fine now, I'm able to read the accessory-info characteristics.

[2018-03-18 19:22] mjg59 commented on #12
I don't think it can easily be fixed there, but I'll think about it some more

[2018-03-19 07:39] #13 closed

[2018-04-29 18:51] nickpl456 opened #16 "NameError: name 'kTLVError_Unavailable' is not defined"
Trying to pair a Leviton DH6HD switch, it give the error:

"Traceback (most recent call last):
  File "/usr/lib/python3.5/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.5/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/root/.local/lib/python3.5/site-packages/homekit/pair.py", line 47, in <module>
    pairing = perform_pair_setup

[2018-04-29 19:35] jlusiardi commented on #16
Hi,

Can you try to apply this patch?

[code]

should fix it.

Regards
Joachim

[2018-04-30 14:29] nickpl456 commented on #16
Thank you for the quick reply!

That did fix the error about the error message :) but not the underlying problem. Now I get:

Traceback (most recent call last):
  File "/usr/lib/python3.5/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.5/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/root/.local/lib/python3.5/site-packages/homek

[2018-04-30 15:28] sberryman opened #17 "zeroconf error when protocol version not defined"
Command:
`python3 -m homekit.discover`

Results:
[code]

I added the top print to show the entire contents of `info.properties`, funny enough all the other devices that show up list a PV.

A simple `if b'pv' in info.properties:` wrap around that print line solved that particular issue for me.

[2018-04-30 16:31] jlusiardi commented on #17
Yes, you are absolutely right. The spec allows to omit the pv key, if the version is 1.0.

I commit the following:
[code]

This should fix it as well and display information about pv in all cases.

[2018-04-30 16:31] jlusiardi commented on #17
A new release of this package will be released to pypi soon.

[2018-04-30 16:33] sberryman commented on #17
Wow, thanks for the super quick fix!

[2018-04-30 16:39] sberryman opened #18 "iHome SP5 Tips"
It took me close to an hour to figure out how to pair an iHome SP5 switch, may be worth adding to the readme.

Steps:
1. Reset the device by holding the power switch for 12 seconds
1. Open the iHome app and tap the `Add Device` button
1. Select a switch and tap `Continue`
1. Allow access to your home network
1. Watch the switch closely as the blinking white indicator light switches to solid, quick

[2018-04-30 16:45] jlusiardi commented on #18
Ah, i guess this is because the iHome SP5 gets information over blue tooth on how to join your wifi. This is nothing i targeted, because this should be device specific.

Perhaps this is worth adding to the readme.

[2018-04-30 16:47] sberryman commented on #18
Yes, not sure how the iPhone was communicating with the switch to transmit WiFi details but most likely as you described, using bluetooth.

Not sure why it would fail with an authentication error on pairing if you let it get to the homekit code input screen though.

[2018-04-30 19:46] jlusiardi commented on #17
Can we close this?

[2018-04-30 20:25] jlusiardi commented on #16
no problem with the confusion. Seems I have to really look at it. Guessing what @mjg59 monkey patched there...

[2018-04-30 20:42] sberryman commented on #18
Yes, I have to exit the iHome app before the scanning screen appears otherwise it would always fail at step 5 (authentication). That is without me doing anything in the iHome app other than the camera activating and it ready to scan a code.

[2018-04-30 20:44] sberryman commented on #17
I don't see it merged into master and pushed to pypi?

[2018-04-30 20:57] #16 closed

[2018-04-30 20:59] nickpl456 commented on #12
@mjg59 I'm running into this issue as well on a Leviton switch, could you give some detail on what you had to "monkey-patch"? (can't say I've heard that term before, I'm not much of a programer though :) )

[2018-04-30 21:32] jlusiardi commented on #17
Sorry, forgot to push to github. Pypi will follow...

[2018-04-30 21:37] #17 closed

[2018-04-30 23:40] mjg59 commented on #12
@nickpl456 Monkey Patching in Python refers to replacing a method in an imported module with your own method. In Home Assistant I have this:

[code]

and then later do:

[code]

to replace the _send_output function with my own. If you do that at the start of your code you ought to be able to get further.

[2018-05-01 01:07] raufis27 opened #19 "homekit.get_accessories.py Error"
/usr/bin/python3: Error while finding spec for 'homekit.get_accessories.py' (AttributeError: module 'homekit.get_accessories' has no attribute '__path__')

Any ideas ?

[2018-05-01 05:29] jlusiardi commented on #19
seems to be the extra .py in the readme.

Does this help?

[2018-05-01 06:14] jlusiardi commented on #12
I just tried to fix the issue without changing the behavior of the original `http.client.HTTPConnection` for all the code running in the interpreter. what do you think about  61bf4e9 ?

[2018-05-01 06:51] jlusiardi commented on #18
As I do not exactly know this device, can you try to pair it with your iPhone first, then unpair? By that it should be in the wifi and free to pair again.

"Not sure why it would fail with an authentication error on pairing if you let it get to the homekit code input screen though." Did you enter the code here? Because if so, there already is one pairing and a new (2nd) pairing could not be done w

[2018-05-01 13:35] nickpl456 commented on #12
Just tested out 61bf4e9 and it works great, I'm able to successfully pair with and control my Leviton switch, thanks guys!

[2018-05-01 13:51] nickpl456 opened #20 "KeyError: 'format'"
When I try to run
`python3 -m homekit.put_characteristic -f "/home/pi/test" -c "1.10" -v "1"`
I'm getting the error:

    Traceback (most recent call last):
      File "/usr/lib/python3.5/runpy.py", line 193, in _run_module_as_main
        "__main__", mod_spec)
      File "/usr/lib/python3.5/runpy.py", line 85, in _run_code
        exec(code, run_globals)
      File "/root/.local/lib/python3.5/sit

[2018-05-01 14:03] sberryman commented on #18
I think we can close this issue, @brianhanifin reported on a different issue that iHome was having cloud problems yesterday.

![image](https://user-images.githubusercontent.com/324437/39475611-be3dd274-4d0d-11e8-88fe-f25558ddeb30.png)

[2018-05-01 14:03] #18 closed

[2018-05-01 14:47] jlusiardi commented on #20
Hi,

can you post the output of the get accessoires?
[code]
Also what device do you connect to?

Considering Table 5-3 (page 65) of the spec, the format field is required. You are right, unless it is boolean, it does not matter.

[2018-05-01 15:25] nickpl456 commented on #20
Connecting to the Leviton DH6HD.

Here's the output:
[get_accessories.txt](https://github.com/jlusiardi/homekit_python/files/1964192/get_accessories.txt)

(I'm getting the feeling these devices don't follow Apple's spec nearly as well as they should)

[2018-05-01 15:36] jlusiardi commented on #20
Ok, I just dug a little deeper: What does the following command return?

[code]

I suspect something like this json to be returned:
[code]

I guess the format is missing (but should be there as the meta parameter includes format (Table 5-14 on page 84ff). So you might be right, that those devices could be closer to the spec.

I will think for a work around.

[2018-05-01 18:07] nickpl456 commented on #20
Yep, exactly what you suspected, it's missing the format:

    {
        "characteristics": [
            {
                "value": 0,
                "iid": 10,
                "aid": 1
            }
        ]
    }

[2018-05-01 20:44] mjg59 commented on #12
I think you need to add an extra (and unused) named argument for 3.6 compatibility - see https://github.com/mjg59/home-assistant/commit/705b430671896722132c1887659c0e82032f8836

[2018-05-01 20:44] mjg59 commented on #12
(But otherwise this looks good!)

[2018-05-02 05:26] jlusiardi commented on #12
thanks for the hint for python 3.6 @mjg59. So either way of patching this will be an ongoing process, I guess.

[2018-05-02 05:37] jlusiardi commented on #20
I guess this will need some more thinking. Just skipping the line you mentioned in the original post will break sending boolean values (at least to the device I have). I will try to fix this in [a bew branch](/jlusiardi/homekit_python/tree/fix_20_missing_types).

[2018-05-03 01:05] raufis27 commented on #19
Yes it does. Thank you. I have another question. For some reason it takes about 10 seconds to put_characteristic. Is there any way to make it faster ? Thank you.

[2018-05-03 04:33] jlusiardi commented on #20
can you try to checkout the new branch I mentioned above? I now read the accessories data (in your case with format) into the file with the pairing data. This should fix it.

[2018-05-03 04:40] jlusiardi commented on #19
You are right, 10s seems slow. Should be optimized, but honestly, never looked into profiling python before. Can you please open a new issue for that and close this one since it was answered? Thanks.

[2018-05-03 11:25] #19 closed

[2018-05-03 11:27] raufis27 opened #21 "Put_characteristic takes to long"
I guess it is because program has to search for MAC address and talk to it. Any chance that we can interact with accessory by IP or somehow optimize code to make it faster.

Thank you!

[2018-05-03 13:06] nickpl456 commented on #21
I agree that the Zeroconfig, although nice for people that might have constantly changing IPs, is time consuming. I've slightly modified the program to read IP address and Port from the pairing data file however the way I did it is a very hacky and ugly way that I would not suggest anyone else do...

But I would suggest that when pairing the IP and Port get stored in the pairing data file and then

[2018-05-03 13:15] nickpl456 commented on #20
That fixed the error. The only strange thing I'm noticing is that the command

    python3 -m homekit.put_characteristic -f "/home/pi/test" -c "1.10" -v "1"

does not work. I had to add '1' to the bool if statement to this before it would work:

    if value in (True, 'true', 1, '1'):

I might suggest instead of tying to list every way someone might write true do something like:

    from distutil

[2018-05-03 13:27] sberryman commented on #21
👍🏻 I would also like to see it store and use the IP address

[2018-05-03 13:28] sberryman opened #22 "Broken Pipe"
I'm using Home Assistant and seeing a lot of broken pipe errors, any idea what would be causing these? Is it related to issue #21 and using MAC address vs IP address? My switch has a static IP address.

[code]

[2018-05-03 13:40] nickpl456 commented on #21
@raufis27 Like I said it's bad, more of a proof of concept than anything. The command-line switch opinion I described and letting python manage the pairing data file is much more sustainable long term I think, but here it is:

First in the pairing data file add these lines:

    "port": "80",
    "ip": "192.168.42.70"

Obviously replacing the IP and Port info with what's correct for your device. M

[2018-05-03 13:57] raufis27 commented on #21
@nickpl456 thank you.

[2018-05-03 19:47] jlusiardi commented on #20
hey,

i do not see any point why not to use distutils.util.strtobool(), just did not know it existed.

Just committed with your proposal.

[2018-05-03 19:54] jlusiardi commented on #22
can you please describe the setup in more details? With switch you refer to the HomeKit Accessory? Is the Wifi Connection stable to the device? Looks like the connection is unstable and therefore the pipe breaks.

How often does this happen? Do you have more than one accessory?

[2018-05-03 20:34] jlusiardi commented on #12
I would close this as done then.

[2018-05-03 20:34] #12 closed

[2018-05-03 20:45] raufis27 commented on #21
I think ‘fixing” zoreconf to use IP should be enough. After patching put_Char. my device’s responce is idetical to native homekit app.

[2018-05-03 22:03] nickpl456 commented on #20
Awesome, thanks!

[2018-05-03 22:03] #20 closed

[2018-05-04 05:27] jlusiardi commented on #21
I guess this depends on your homekit device as well. But storing also IP and port in the pairing file will do no harm. I'll get to that on the weekend.

[2018-05-05 07:02] jlusiardi commented on #21
I committed  to [a new branch](/jlusiardi/homekit_python/tree/fix_21_integrate_ip_port).
Can someone check if this speeds up for u as well?

[2018-05-05 11:53] raufis27 commented on #21
I can confirm it new branch works faster with IP.

[2018-05-05 17:14] jlusiardi commented on #21
Merged into master

[2018-05-05 17:14] #21 closed

[2018-05-20 08:04] jlusiardi opened #30 "HomeKitRequestHandler._put_characteristics does not verify input data"
HomeKitRequestHandler_put_characteristics does not verify the input. It should check if the value has the proper type, respect allowed values, etc.

Example: Setting a string to a float characteristic results in a stack trace instead of a proper response as defined in the spec chapter 5.7.2.2 page 82.

[2018-05-23 19:40] jlusiardi commented on #30
fixed by https://github.com/jlusiardi/homekit_python/pull/33

[2018-05-23 19:41] #30 closed

[2018-06-10 09:49] kzaoaai opened #34 "Cannot connect my insignia smart plugs"
I was successful with leviton dimmers, however this won't work. I get:

Jun 10 02:46:32 hassbian hass[22096]: 2018-06-10 02:46:32 ERROR (MainThread) [homeassistant.core] Error executing service <ServiceCall configurator.configure: fields=code=309-96-501, configure_id=1672433776-1>
Jun 10 02:46:32 hassbian hass[22096]: Traceback (most recent call last):
Jun 10 02:46:32 hassbian hass[22096]:   File

[2018-06-10 10:17] jlusiardi commented on #34
Hello,

so i see you are using it via homeassistant. Which version does this use? Can you try to connect via the command line tools i deliver with homekit_python like:
 * discover
 * pair
 * get_accessories
 * ...

Perhaps the responses of the insignia smart plugs are not what i expected.

Cheers
Joachim

[2018-07-03 01:47] mjg59 opened #35 "Pairing fails with Hue bridge"
Trying to pair with a Hue bridge:

Traceback (most recent call last):
  File "/usr/lib/python3.5/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/lib/python3.5/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/tmp/hap/lib/python3.5/site-packages/homekit/pair.py", line 55, in <module>
    pairing = perform_pair_setup(conn, args.pin, iOSPairingId

[2018-07-03 02:00] mjg59 commented on #35
Ok the Hue is sensitive to the order of the TLVs at this point - if kTLVType_State isn't first, it returns an error.

[2018-07-03 02:57] mjg59 opened #37 "Incomplete reads from chunked data"
[code]
_read_response() shows a 96 byte read with a chunk length of 78 bytes (so a complete read), which only contains the headers. If I remove the break statement and allow the loop to continue, performing another read gives an 18 byte read with a length value of 6, and performing another read gives the remaining 6 bytes. Further reads receive no data.

[2018-07-03 03:07] mjg59 commented on #37
[tcpdump.zip](https://github.com/jlusiardi/homekit_python/files/2157495/tcpdump.zip)

tcpdump attached - this is with the break statement from the end of the while True: loop in _read_response() removed in order to ensure that everything is read.

[2018-07-03 03:20] mjg59 commented on #37
I /think/ we need to do this by parsing the content-length header, but that seems awkward to fit into the existing framework.

[2018-07-03 03:43] mjg59 commented on #37
https://github.com/jlusiardi/homekit_python/pull/38 works, but doesn't seem super appealing.

[2018-07-03 16:56] mjg59 commented on #35
Fixed by #36

[2018-07-03 16:56] #35 closed

[2018-07-03 16:57] mjg59 commented on #34
I think this is probably the same as #37

[2018-07-03 17:49] jlusiardi commented on #34
Yepp, i would like to have feedback from @kzaoaai :)

[2018-07-05 21:07] lboue opened #39 "accessory - ERROR - Unicode exception 'ascii' codec can't decode byt"
Hello,

I installed homekit_python on my raspberrypi and run demoserver. I am running Python 3.5.3.
[code]

After pairing the accessory, I am getting many "Unicode exception 'ascii' codec can't decode byte" error.

What can I do to fix that?

[code]

Few minutes later I saw this:

2018-07-05 23:01:41,357 - accessory - ERROR - Unicode exception 'ascii' codec can't decode byte 0xcd in position 0: or

[2018-07-05 21:33] jlusiardi commented on #39
Hi,

The output of the setup code `2018-07-05 22:57:59,448 - accessory - INFO - Setup Code
\u250c\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2500\u2510
\u2502 031-45-154 \u2502`  looks weird. It should simply be sth like 123-45-678. can you post the json file please?

Joachim

[2018-07-05 21:46] lboue commented on #39
Here is what I have after a few tries:
[code]

Regards,
Ludovic

[2018-07-05 21:54] lboue commented on #39
A full new test:
[code]

[2018-07-06 04:42] jlusiardi commented on #39
Hi,

ok, took some sleep to get to the point.

`2018-07-05 23:53:30,133 - accessory - ERROR - Unicode exception 'ascii' codec can't decode byte 0xcd in position 0: ordinal not in range(128)` isn't actually a problem. This line is logged in request_handler.py line 133ff (HomeKitRequestHandler.handle_one_request) while it tries to decode HTTP stuff (which at this point may be already crypted) and lo

[2018-07-06 05:18] lboue commented on #39
Hello,

My phone is running iOS 11.4. I only added the fake devices to this iPhone. What iOS to you have ?

Regards,
Ludovic

[2018-07-06 05:32] jlusiardi commented on #39
Hi,
the thing is, to me the log looks promising and the demoserver should work as in "the light can be switched on and off" (there are put /characteristic calls).

Do you have only one device? I am asking since the "add pairing" function is not about the initial pairing between phone and fake device but with an additional controller (iPad, iPhone, apple tv and so on i guess)

Greetings
Joachim

[2018-07-06 05:35] lboue commented on #39
Yes the accessory is listed on the default room. But it is unreachable.
As you can see on my first post, section "Few minutes later I saw this", so iOS device is polling this controller to get the accessory state.

Ludovic

[2018-07-06 06:19] jlusiardi commented on #39
Ok, i will try to have a closer look to this at the weekend.

Should not be so hard to implement this missing function. Can you test also on a branch?

[2018-07-06 16:16] lboue opened #40 "homekit.discover: UnicodeEncodeError: 'charmap' codec can't encode character '\U0001f4a6' in position 6: character maps to <undefined>"
Hello,

I installed homekit_python on my raspberrypi and run homekit.discover. I am running Python 3.5.3.
I am getting many "UnicodeEncodeError: 'charmap' codec can't encode character '\U0001f4a6' in position 6: character maps to <undefined>" error.

What can I do to fix that?

Debug log
[code]

[2018-07-06 17:15] jlusiardi commented on #40
Hi,

could you try **avahi-discover** or something else to find out which name causes the trouble in line 47 in zeroconf_.py?

I will try to work on the issue in https://github.com/jlusiardi/homekit_python/tree/fix_40_UnicodeEncodeError_while_discov

Regards
Joachim

[2018-07-06 17:15] lboue commented on #39
Yes sure, I can test on a branch.
I did another test this evening:

[code]

**Accessory was reachable only one time**. So I click on it within the Home app. But after that accessory has the "noresponse" status.

[2018-07-06 17:15] jlusiardi commented on #39
Work will be done in https://github.com/jlusiardi/homekit_python/tree/fix_39_no_add_pairing

[2018-07-06 20:06] jlusiardi commented on #39
First analysis:

1. my iPhone hast iOS 11.4 on it
2. I did a fresh pairing
3. No calls to add pairing whatsoever

The "error" with the crypted packages is now only DEBUG.

I did a first implementation for add pairing. Can you please give it a try?

[2018-07-07 07:31] lboue commented on #39
Thats seems better now,I didn't get any error with your fix 👍

[code]

[code]

[2018-07-07 07:40] jlusiardi commented on #39
So you paired successfully and can now controll the demo accessory? If yes can we close this after merging to master?

[2018-07-07 09:00] lboue commented on #39
I did a screen capture. You can watch it if you want: https://drive.google.com/open?id=1H1LP79baIk87kXI0ThZvECclkBiffxjC

Yes I can switch on/off the light accessory now as you can see:
[code]

You can merge it to master branch.

Regards,

[2018-07-07 09:15] lboue commented on #40
This is odd. If I start multiple times the same discover.py script. Each time, I am getting a different output but I can't reproduce the issue anymore.

A PCAP trace here: https://drive.google.com/file/d/1HQhMo1J3lSaa89oknHfuReutDU6N904U/view?usp=sharing

### 1st time
[code]

### 2nd time
[code]

### 3rd time
[code]

[2018-07-07 09:31] jlusiardi commented on #40
I guess this device may have cause your issue:
[code]
Since it is a sprinkler, using the emoticon 💦 (https://emojidictionary.emojifoundation.com/sweat_droplets#hl=n_1bfb4) in the name is kind of interesting...

[2018-07-07 10:32] jlusiardi commented on #39
Done! Thank you!

[2018-07-07 10:32] #39 closed

[2018-07-10 16:56] lboue opened #43 "AttributeError: 'ThermostatService' object has no attribute 'set_on_set_callback'"
Hello,

I am trying to implement those 3 services on a new demoserver.py version:
1. LightBulbService
2. ThermostatService
3. OutletService

I added a new snippet to expose a thermostat accessory in my [fork repo](https://github.com/lboue/homekit_python/blob/expose_controller_api/demoserver.py
).
[code]

But when I start the script I am get an `'AttributeError: 'ThermostatService' object has no at

[2018-07-10 20:16] lboue commented on #43
I managed to do implement my test (https://github.com/lboue/homekit_python/commit/710852bb284da94871c2976a6dde1bcb030d5b28) to get the target temperature/state
[code]

But how can I do to get current temperature/state with somthing like this?
[code]
[code]

[2018-07-11 05:58] jlusiardi commented on #43
Hi,

Ok, forget the deleted first comment. I am not quite sure, what exactly you want to achieve. These callback functions are called if the controller performs a read or write on a characteristic.

E.g. Controller reads the current temperature of the `thermostatService`, the get callback function is invoked (this function has had to be set via `set_current_temperature_get_callback`).

If the Cont

[2018-07-15 07:03] mjg59 commented on #37
https://github.com/jlusiardi/homekit_python/commit/e6bf51eb4630d5bca3a876b2ac502b5b7169eaa0 fixes this.

[2018-07-15 07:03] #37 closed

[2018-07-15 07:04] mjg59 commented on #34
@kzaoaai This should be fixed in the current git code

[2018-07-15 07:15] mjg59 commented on #37
(Any chance you can cut a 0.10 with this? It ought to fix a bunch of Home Assistant bugs)

[2018-07-15 13:55] jlusiardi commented on #37
@mjg59 will do this ;) this will be mostly as a controller? What do u think about https://raw.githubusercontent.com/jlusiardi/homekit_python/expose_controller_api/doc/controller.png ?

[2018-07-15 14:34] jlusiardi commented on #37
done the release

[2018-07-18 19:38] mjg59 commented on #37
I'm out of town at the moment, I'll give it a go at the weekend.

[2018-07-20 05:42] jlusiardi opened #48 "Implement add pairing in branch expose_controller_api"
Implement chapter 4.11 Add Pairing

[2018-07-26 20:46] jlusiardi commented on #40
i guess i fixed it. can you confirm the branch is working?

This should now print a **_?_** instead of a potential non printable character:
[code]

[2018-07-27 16:39] jlusiardi opened #50 "Feedback on Controller API in Branch expose_controller_api"
Hello @mjg59,

it would be super cool and super helpful to get your opinion on the Controller API in Branch expose_controller_api. Perhaps you can comment your thoughts here.

Thanks
Joachim

[2018-07-27 16:40] jlusiardi commented on #22
Closing because of the missing feedback.

[2018-07-27 16:40] #22 closed

[2018-07-27 16:40] #34 closed

[2018-07-27 16:41] jlusiardi commented on #34
Close due to lack of feedback.

[2018-07-27 16:43] jlusiardi commented on #43
@lboue is this still an issue? ;)

[2018-07-27 18:08] jlusiardi opened #51 "Implement events in the accessory server"
The accessory server cannot react properly if a controller registers for events.

The spec describes this in chapter 5.8 page 88 ff.

The following functions should be starting points:
- AccessoryServer._get_characteristics
- AccessoryServer._put_characteristics

Events could be triggered via a callback method?

[2018-08-11 07:16] #43 closed

[2018-08-26 15:52] EV3REST opened #52 "#include <malloc.h> error in macOS"
The error happens when installing pip3 package on macOS
`Building wheels for collected packages: py25519
  Running setup.py bdist_wheel for py25519 ... error
  Complete output from command /usr/local/opt/python/bin/python3.7 -u -c "import setuptools, tokenize;__file__='/private/var/folders/cj/c1q545ln1pb4yk91t6qc98440000gn/T/pip-install-6re6vbd2/py25519/setup.py';f=getattr(tokenize, 'open', open)(

[2018-08-26 15:53] EV3REST commented on #52
Could we do something like this?
[code]

[2018-08-27 08:16] jlusiardi commented on #52
Hi,

The problem occurs while installing the py25519 dependency. The error message is an unsupported target OS. From my point of view, you should file a bug at the project developing the py25519 library.

Greets Joachim

[2018-09-22 14:51] netmanchris opened #53 "Device test plan"
First thanks for this project!  Is there any specific tests plans for specific HomeKit accessories? I see that you’ve had some people report that the module works with various accessories but I was wondering if there’s a test plan that users can submit to track which devices have been proven to work?

[2018-09-24 19:58] jlusiardi commented on #53
Hey,

thanks for your encouraging words!

By test plan you  mean some predefined steps to 'prove' that a device works with the code?
Perhaps everyone that tests a device should perform some standard operations on it:
- pair the device
- perform get_accessories
- read all readable accessories
- perhaps write some of the writable accessories (which?)
- unpair the device

After this, post the results

[2018-09-25 15:38] netmanchris commented on #53
Hey @jlusiardi

I think this could definitely work.  Just need a quick "How to test and what to post" inclusion on the readme file to make sure you get what you're expecting and I'd be happy to do some tests and send some PRs with the data!

[2018-10-23 05:59] jlusiardi commented on #53
Hey @netmanchris,

sorry it took me some time to start, but i added a wiki page [HomeKit Accessory Testing Guide](../wiki/HomeKit-Accessory-Testing-Guide). I think a little coded support would also be nice i guess.

Regards
Joachim

[2018-10-24 16:55] der-punkt opened #56 "Bluetooth LE Accessories"
Hey,

what is needed to implement the support for Bluetooth LE Accessories?

I don't have much free time, but I'm motivated to contribute here.

Best regards

[2018-10-24 17:35] jlusiardi commented on #53
Hey @netmanchris,

could you test **test_accessory.py** from branch **fix_53_testconcept** and report back _testpairingdata_ and _testresult_ for your accessory?

Regards
Joachim

[2018-10-24 18:05] netmanchris commented on #53
@jlusiardi  For sure - Swamped at the day job but this is something I want to get back to and start posting some testresults.  Will commit to doing some testing, but won't be in the next couple of days. :)

[2018-10-24 18:12] jlusiardi commented on #56
I guess there are a few points unclear to me:

- How does python work with bluetooth LE?
- How to discover Accessories?
- How to communicate with the accessories?

[2018-10-31 17:43] jlusiardi commented on #56
Hey,

that helps a lot, thanks! I already started tinkering with gatt-python, but i will also consider bluepy.
Both seem to have one downside: linux with bluez only?
Lets have a look :)

Regards
Joachim

[2018-11-01 14:50] jlusiardi commented on #56
Hey again,

https://github.com/markrages/ble states that bluepy uses the hci socket interface to bluez. This works well but it is deprecated and requires root access.

So this doesn't look so good :/

[2018-11-05 08:58] jlusiardi commented on #56
Also interesting: which library allows access to the advertisement packages?

[2018-11-08 07:06] jlusiardi commented on #56
Success so far (with some pretty ugly hacks):

### Discovery
Using subprocess to use hcitool & hcidump
[code]

### Reading out services & characteristics
[code]

[2018-11-08 17:33] der-punkt commented on #56
Looking good! Can I contribute with something?

[2018-11-08 20:11] jlusiardi commented on #56
Hey,

you could test the scripts from branch **add_bluetooth** from the staging directory:

The first should try to discover all BLE HomeKit devices:
[code]

E.g.:
[code]

The second is called with a mac address:
[code]

Would be cool to get some input data and feedback!

Regards
Joachim

[2018-11-08 21:57] der-punkt commented on #56
Hi Joachim,

thank you for the response.
I tried them out with the following results:
[code]
[code]
but `$ python3 staging/hap_char_sig_read.py c8:ea:1b:6f:b2:10` doesn't produce any output it is just stuck somewhere in `manager.run()`.

Best regards,
Vasil

[2018-11-09 06:30] jlusiardi commented on #56
Hey Vasil,

is this some Osram Smart+ product?

It does not even print `resolved`? That's strange. Some more questions:
 - can you run `bluetoothctl` in a second terminal? For me this results in:
[code]
 - which version of bluez (`hcidump --version') do you use? (mine is 5.43)

Thanks for the support!

Joachim

[2018-11-09 09:08] jlusiardi commented on #56
Hi,

my script prints the homekit pairing status not the bluetooth pairing (as in `bluetoothctrl`) status.

The `bluetoothctrl` looks ok *wondering*...

Regards
Joachim

[2018-11-10 10:30] jlusiardi commented on #56
Hey Vasil,

I think we had a misunderstanding. Sorry :/
I meant can you start `bluetoothctl` in one terminal, do nothing with it and run `PYTHONPATH=. python3 staging/hap_char_sig_read.py c8:ea:1b:6f:b2:10`  in an other terminal and send me this output?

Regards
Joachim

[2018-11-19 21:10] jlusiardi commented on #56
Hey Vasil,

can u give it another try with the new code an post back the debug log?

I ordered one of the bulbs myself, too.

Joachim

[2018-11-22 07:09] jlusiardi commented on #56
Hey Vasil,

Bulb arrived, and i was able to do some improvements:

[code]

Try to check when you have the time ;)

Joachim

[2018-11-28 10:56] Jc2k commented on #56
Hey, very interested in this branch. Heres what my eve energy looks like:

[code]

[code]

And it never returns

And if i try to pair:

[code]

And it never returns.

Running bluetoothctl in another terminal i see lots of RSSI measurements. And a few seconds after the script has connected to my device, i see a Connected: no fly by.

[2018-11-28 11:12] Jc2k commented on #56
Added a:

[code]

And got:

[code]

Which lead me to [this](https://github.com/getsenic/gatt-python/issues/25). But I can see the device is discovered so I don't think its that. Looking at the docs, bluez must be >= 5.38. I used  xenial vm i already had lying around, so actually only on 5.37. Upgrading.

[2018-11-28 11:18] Jc2k commented on #56
Ok now it works:

[code]

[2018-11-28 11:40] Jc2k commented on #56
Pairing fails:

[code]

[2018-11-28 21:48] jlusiardi commented on #56
Hey @Jc2k ,

cool that this is working at least for the hap_char_sig_read.py!

I am still working on this but I like your support and will try to get back to the pairing problem soon.

Regards
Joachim

[2018-11-29 06:34] jlusiardi commented on #56
Hey @Jc2k
can you give it another try after pulling? And please always give the full command line and if a script does not work, enable logging like you already did.
Thanks!
Joachim

[2018-11-29 09:29] Jc2k commented on #56
Looking good!

So first of all, discovery:

[code]

It's now showing as an Outlet!

At a glance the hap_char_sig_read data looks the same.

Unfortunately hap_pair now fails with an import error. The BlePairing class doesnt seem to exist in homekit.controller.

[2018-11-29 17:54] jlusiardi commented on #56
yeah I forgot to commit/push properly :/

[2018-12-02 23:43] Jc2k commented on #56
Hey - was thinking of having a go at adding a BLEPairing.get_characteristics but wanted to make sure I wasn’t duplicating effort.  And it sounds like you might have a partial BLEPairing 🙃

[2018-12-03 11:43] jlusiardi commented on #56
Hey,

contributions welcome, I am still stuck on how to apply session security on the BLE functions.

What exactly to u mean with partial pairing?

Regards
Joachim

[2018-12-03 12:38] Jc2k commented on #56
Oh sorry - replied on my phone and wasn't very clear.

I assumed you had some code already for the BLEPairing class that wasn't committed (because the pairing code references it, but it isnt in git). I said partial because I assumed it wasn't finished yet.

The docs around session security for BLE are a bit hard to follow. It wasn't clear to me whether you encrypted the entire PDU or just the PDU

[2018-12-03 13:07] jlusiardi commented on #56
No Problem!

I will give a quick look to commit & push the latest code now :) I am still working on some kind of working implementation of a BLE version of pair verify (that part works) and the read out of the device name via the name service of the Koogeek DW1:
[code]
The code is is `hap_pair_verify.py`. I hope i did not forget anything this time ;)

[2018-12-04 11:42] Jc2k commented on #56
Didn't have as much time to look at this last night as i'd hope.

I think i'm currently in the same position as you - accessory is rejecting my Read-Request packets. From reading the spec everything looks good, but I just get GATT errors.

I found this: https://github.com/grover/homebridge-ranger. It proxies IP homekit to bluetooth homekit accessories (via homebridge). It just seems to corobarate

[2018-12-04 15:48] jlusiardi commented on #56
`hap_read_pairingfeatures.py` allows to read a characteristic without pairing for now. Perhaps it gives clues...

[2018-12-05 08:41] Jc2k commented on #56
If you try to read a characteristic do you get a valid HAP reply with a known BLE status code?

I managed to get a little closer to a working homebridge-ranger. Its not working yet but I have seen it return HAP BLE status codes for the read characteristic op. Even sending the read request with no encryption, my device gives me a valid response packet (with status 5).

But I can't get the same with

[2018-12-05 21:01] jlusiardi commented on #56
I got this result for a read on the pairing features characteristic:
[code]

The value of `1` makes sense (Table 4-1 page 58 of spec).

I'll try `homebridge-ranger` on my Raspberry Pi Zero W as well.

Perhaps this is because of the manager is not running?

[2018-12-05 23:05] Jc2k commented on #56
OK - so if I modify hap_read_pairingfeatures.py to try and read my outlets `on` char then i get an error 5, like homebridge-ranger.

If i copy and paste that same working code to the end of pair_verify (so that i have the crypto keys) then it stops working. The write seems to work. But the first read returns None. If you fix the loop to handle Nones the others fail too, and it seems the connection

[2018-12-15 22:59] Jc2k commented on #56
I've managed to read a characteristic on my Eve Energy! At the end of hap_pair_verify.py:

[code]

The difference between this and your earlier PoC code is just this:

[code]

vs this

[code]

When I got rid of len_bytes it all started working.

[2018-12-17 16:19] jlusiardi commented on #56
Hey @Jc2k,

that's awesome, works with the DW1 as well, but i'm not sure why. I'll dig into it!

[2018-12-17 19:11] Jc2k commented on #56
I think I mostly get it now. What bit are you not sure about? The `aad` being `bytes()` was a surprise but looking at the HAP spec the AAD is documented as set for HTTP messages, but the AAD isn't mentioned at all for BLE secure messages. I can't see that they specify the params for the ChaCha20 call for secure BLE sessions at all, at least in the copy of the spec I have. But I guess if it works i

[2018-12-19 16:33] jlusiardi commented on #56
hey,

i started to integrate it! works out well so far. But did you also have issues that the bluetooth le accessories just react on the second attempt?

[2018-12-19 20:36] Jc2k commented on #56
It was actually working in an earlier version of the code - let me dig out the magic

[2018-12-19 20:49] Jc2k commented on #56
So when i was running this version of the code i could work around the 2-attempt issue by uncommenting this line: https://github.com/jlusiardi/homekit_python/commit/ec0b098393e6973c0d1aeee20bdd41f2f5c03e5c#diff-c69531862ba2a133a077f908538ed170R65

Letting the AnyDevice object run until the services were resolved.

[2018-12-20 19:14] Jc2k commented on #56
Hoping to spend some time on this tomorrow. How is it looking on your end?

[2018-12-20 20:33] jlusiardi commented on #56
i did some commits, but the travis ci checks keep on failing. I am looking into that at the moment

[2018-12-21 10:41] Jc2k commented on #56
Looking at the GATT code we could do something like:

[code]

[2018-12-21 16:48] Jc2k commented on #56
Didn't get to look at this as much as I wanted today but:

https://github.com/jlusiardi/homekit_python/pull/57

Makes put_char / get_char / list_accessories_and_chars more reliable - at least in terms of session enumeration.

[2018-12-23 20:54] Jc2k commented on #56
(FYI I've raised https://github.com/home-assistant/home-assistant/pull/19549 to switch to using `Controller` in home assistant, ready for adding BLE support there).

[2018-12-29 16:06] Jc2k commented on #56
Hey i saw you pushed some more stuff! Looking good! I'm hoping to try and use this branch from hass as soon as I get some time. I was thinking we could do with something like replacing:

[code]

with:

[code]

where that method would be:

[code]

Then the pairing methods like `put_characteristics` have a chance of survivng some of the more common ways a secure session ending will manifest.

And we

[2018-12-31 11:45] Jc2k commented on #56
Here's my branch to get this working in homeassistant:

https://github.com/home-assistant/home-assistant/compare/dev...Jc2k:homekit-bluetooth

Thought it might be a good case study for how the branch is shaping up from an API use point of view.

The big change is that we can't (or shouldn't) use `list_accessories_and_characteristics` as much in BLE land, as its a lot heavier and slower. I imagine

[2019-01-01 15:05] Jc2k commented on #56
I've got discovery working without any command line tools and without root. Not ready for a PR yet but wanted to give you a heads up that its coming.

[2019-01-05 11:41] Jc2k commented on #56
Just started failing here, turns out the neighbours must have new BLE devices without manufacturer data. Have pushed a fix to my PR.

Have we got a list anywhere of whats left to do on this branch? Off the top of my head the things i'm thinking about looking at are:

 * Get back to upstream gatt library (can't have a release dep on staging folder)
    * Pester upstream OR
    * Ship a fork of the

[2019-01-05 19:25] jlusiardi opened #61 "Resolve dependency issues with getsenic/gatt-python"
At the moment we have a patched version of getsenic/gatt-python in the staging folder. This is a blocker for Home Assistant integration.

Possible Options:
- have the PR merged (https://github.com/getsenic/gatt-python/pull/36)
- ship a fork of getsenic/gatt-python under homekit/gatt
- subclass code with descriptor and leave upstream untouched

[2019-01-05 19:48] Jc2k commented on #56
Hey no worries, we’ve all been there, just happy to be making progress.

[2019-01-05 19:51] Jc2k commented on #61
I’ll put together a PR for option 3 and see what it looks like.

[2019-01-05 22:36] Jc2k opened #62 "Support events for BLE devices"
There are 2 kinds of events in the BLE spec:

 * Connected events - we have an established connection to the device. I'm not clear on whether this includes secure and insecure sessions, or just secure sessions.
 * Disconnected events

# Disconnected events

At least with my Eve Energy, if i do a secure read from the `on` characteristic then tear down the session I can see the GSN go up once when i

[2019-01-05 22:37] Jc2k commented on #62
@jlusiardi I can't tag this as BLE Transport by myself unfortunately - could you when you get a moment?

[2019-01-06 09:49] matyklugDebbuged opened #63 "error when installing"
----------------------------------------
Command "/Library/Frameworks/Python.framework/Versions/3.7/bin/python3.7 -u -c "import setuptools, tokenize;__file__='/private/var/folders/5y/qt1h5x1140vgy33mjtchxgfc0000gp/T/pip-install-naaa40pq/gmpy2/setup.py';f=getattr(tokenize, 'open', open)(__file__);code=f.read().replace('\r\n', '\n');f.close();exec(compile(code, __file__, 'exec'))" install --record /

[2019-01-06 11:38] jlusiardi commented on #63
Hi,

i would be very gentle to have some more information in the issue.

I guess you are using some version of OS X and try to install via pip3? Can you please post more of the installation?

Regards
Joachim

[2019-01-06 11:42] matyklugDebbuged commented on #63
macOS Sierra, i installed Python from internet. Yes, using pip3 and pip

[2019-01-06 11:59] jlusiardi commented on #63
at least on some linux it works with python 3.7: https://travis-ci.org/jlusiardi/homekit_python/jobs/475953714

can you give the complete command line used with pip and the result?

[2019-01-07 20:02] jlusiardi opened #64 "Use dedicated logger as in ble_implementation"
Introduce a dedicated logger as done in
https://github.com/jlusiardi/homekit_python/pull/60/commits/b5fdf83c666f642e4a24242b9905b3f993b8ba33

this enables user to better controller over the logging behaviour

[2019-01-07 20:06] jlusiardi opened #65 "Implement remove pairing"
we need to implement remove pairing to be feature complete.

**Goal** homekit/unpair.py works as expected and the accessory is open for pairings again

[2019-01-07 20:34] jlusiardi opened #66 "Fix errors in put_characteristic.py after successfully putting values"
E.g. `PYTHONPATH=. python3 homekit/put_characteristic.py   -f ble.json -a A60 -c 20.15 on` causes the following exception even on success:

[code]
This should not happen and return something similar to the IP based accessories

[2019-01-08 05:20] jlusiardi opened #68 "Fix documentation about needing root to run discover_ble.py"
Thanks to @Jc2K, root privileges are not required any more in the definition of help:
https://github.com/jlusiardi/homekit_python/blob/1f4e9e641a7ff72387895566c20b55b78a343d1b/homekit/discover_ble.py#L154

Rework the description for the argument parser object here in discover_ble.py

[2019-01-08 22:12] Jc2k commented on #66
This should be fixed now #69 is merged

[2019-01-09 06:38] #66 closed

[2019-01-09 06:38] jlusiardi commented on #66
thank you

[2019-01-09 17:13] Jc2k opened #70 "BLE protocol only supports single accessory?"
I noticed some weird behaviour whilst trying to get an Eve Motion working in homeassistant. The logic around accessories/services/characteristics seemed to be different for bluetooth - it looked as though the accessory-information services was part of a different accessory to the motion detection service.

Looking at the spec for IP devices its very clear that a bridge type device has multiple acc

[2019-01-09 17:15] Jc2k commented on #70
(I'll put together a PR based on this assumption/belief but I don't know how to verify it)

[2019-01-09 21:17] Jc2k commented on #70
Comparing 6.4.4.2 (page 126) and 2.6.1.x (page 30) seems to confirm by omission that BLE exposes a single accessory. For IP accessories it specifically says:

where as for bluetooth it says:

The instance IDs must be maintained for the lifetime of the HAP pairing.
The instance IDs must have values > 0 and a maximum value of (2^ 16)-1, 65535. Accessory Information (page 216) must have an instance I

[2019-01-09 23:01] Jc2k opened #72 "Consider 'stability' of characteristics cache"
We remember all the discovered BLE characteristics in the pairing file. Do we need to be able to invalidate that cache? Does this need changes to the controller API or the connections between discovery and the controller?

E.g. It looks like if you upgrade the firmware (which might add new characteristics?) then the CN number in the ManufacturerData would go up. Should we remember the CN in the pa

[2019-01-09 23:02] Jc2k commented on #72
Of course if we do that, do we need to make the Controller automatically save the updated pairings data?

[2019-01-09 23:04] Jc2k commented on #72
Part of the same logic would be to have a version number for this library too - specifically for the pairing file format code - so that we can detect changes like #71 where we actually want to repopulate the pairing data.

[2019-01-09 23:09] Jc2k opened #73 "Avoid find_characteristics_by_aid_iid making bluez dbus calls"
I think we can avoid scraping the characteristics descriptors over dbus entirely if the cached pairing data is up to date? If we can maintain the iid -> uuid mappings in our JSON cache then we only have to loop over the services and characteristics and compare uuids, we dont have to read the descriptors again.

This would kind of replace the _char_by_aid_iid cache.

[2019-01-10 06:02] jlusiardi opened #74 "Implement paired and unpaired identify calls for BLE Accessories"
This has to be done  at two places:

1. in Controller class for unpaired accessories, the function should be:
[code]

2. in BlePairing the method `def identify(self):`must be implemented for paired accessories

[2019-01-10 06:47] jlusiardi commented on #72
I think this affects both type of accessories: 6.4.2  of the spec  is for BLE where is 5.4 also has `c#` (configuration number) for IP. For IP, the configuration number

server.

The following steps would be required:
- upon pairing, also store the CN / C# in the pairing data
- run discovery from time to time and compare CN / C# from the saved data
- if it has increased (or wrapped around) perform

[2019-01-10 07:15] Jc2k commented on #73
The idea is to replace something like:

[code]

with

[code]

(pseudo code off top of head, not intended to be functional)

Essentially this is about mapping (and then caching) characteristic instance ids to characteristic uuids. The UUIDs are cheaper, as a comparison against the CharacteristicInstanceID requires a `descriptor.read_value` which is a dbus RPC round trip, where as the uuid is alread

[2019-01-10 10:31] Jc2k opened #75 "Think about pairing_data migrations"
E.g. going from current stable homekit to add_bluetooth branch fails because:

[code]

Existing pairing files won't have a Connection attr. We need to set it to IP for existing records.

[2019-01-11 05:44] jlusiardi opened #77 "Not possible to remove pairing with a BLE accessory"
Currently it is not possible to remove a BLE pairing:
`PYTHONPATH=. python3 homekit/unpair.py --log DEBUG  -f ble.json -a DW1`

This fails:
[code]

The code starts roughly at https://github.com/jlusiardi/homekit_python/blob/add_bluetooth/homekit/controller/controller.py#L286

[2019-01-11 06:05] jlusiardi commented on #75
Valid point! Currently it fails at a missing key in controller.py. I'll try to fix in https://github.com/jlusiardi/homekit_python/tree/fix_75_datamigration

[2019-01-11 06:21] jlusiardi commented on #75
Hey @Jc2k,

Do you think the change in #79 is enough for this one?

[2019-01-11 06:49] Jc2k commented on #75
Yes I think that’s ok.

In another ticket we talked about automatically refreshing the accessories data if c#/cn changes. I think In both that case and this case the controller should save automatically. But that can be done later.

[2019-01-11 07:07] jlusiardi commented on #75
Hey

I would like to try to fix bugs first, missing features second and to optimization then.

Eg remove pairing would be important, with this we could do some automated test cycle to be executed at least on our workstations. Some more automated tests for Travis would also be great.

Of course I will support the efforts to integrate with HASS!

Greets Joachim

[2019-01-11 07:35] Jc2k commented on #75
Sure, now I’m getting a better handle on things more tests would be good. I’d like to try and create a mock/fake at the GATT layer so we can test BleSession/BLEPairing better on travis.

But I’ll probably do this on top of my 3 outstanding PRs as it’s likely to be affected by the one that drops staging.GATT quite a bit.

We also need to put reliability on that list! Those RuntimeErrors signify gen

[2019-01-11 11:51] Jc2k opened #80 "list_accessories_and_characteristics doesnt work over a secure session"
A bug, but not the most critical.

It only works now if its called before something that establishes a secure session. Thankfully thats the case with our current pairing code.

The spec says we should call this over secure session after pairing.

[2019-01-11 14:57] Jc2k commented on #77
It's just an invalid value that you are passing into BleSession.request:

[code]

With that I get a validresponse with a status code of 0, however it doesnt decode into what i'd expect from reading the spec. And my pairing still works after. So while this is "more right" we are still missing something.

[2019-01-11 16:01] Jc2k commented on #77
Ok, got it:

[code]

I have too many PR's / branches in flight to add another, but hopefully this is enough for you to close off this issue.

[2019-01-11 17:43] jlusiardi commented on #75
merged #79, so i'll close this one

[2019-01-11 17:43] #75 closed

[2019-01-11 18:22] jlusiardi commented on #77
Ok I guess I will integrate this tonight ;) thanks.

[2019-01-11 19:13] Jc2k commented on #77
Cool - hoping to get a BLE pairing test written tonight / tomorrow am

[2019-01-11 20:10] jlusiardi commented on #77
ok, i guess this works right now, but testing is not possible without some accessory and adapter. :-1:

I'll tune some aspects and then commit

[2019-01-11 22:01] jlusiardi commented on #77
checked the pair & unpair cycle for BLE and IP. Both work.

[2019-01-11 22:01] #77 closed

[2019-01-12 08:22] jlusiardi opened #81 "Bluetooth Adapter not configurable"
This is blocking user with more than one Bluetooth adapters from using this library.

Why would you have more than one adapter? One might be build into the laptop (without supporting Bluetooth LE). The other might be a newer USB device. So the proper adapter might be hci0 (as the library uses hardcoded) or hci1. So this must be either autodetected or configurable.

[2019-01-12 20:40] Jc2k commented on #74
The paired implementation is wrong, isn't it?

According to the docs put_char takes:

[code]

But in f5d2a61 aid is actually set to a service id.

(This only works now because aid == sid in the current code, which i've argued is wrong in #71).

FWIW, in my tests branch that was flagged as wrong, fixed, and the test now passes.

[2019-01-12 21:36] jlusiardi commented on #74
Yes you're correct  :+1:

I changed this in d7dff199bed59d472c129bd5c1e9e0c8f40e4e4d. Thanks!

I could not achieve an unpaired identify though

[2019-01-13 06:48] jlusiardi commented on #56
I'll close this one as we should handle bugs / enhancements in separate issues.

[2019-01-13 06:50] #56 closed

[2019-01-13 07:46] jlusiardi commented on #81
One possibility would be to add the Bluetooth LE adapter as parameter to
 * the controller's init function
 * all BLE related static functions of the controller (discover_ble, indentify_ble and perform_pairing_ble)

This piece of information then should be trickled down into the BlePairing / BleSession objects as well.

[2019-01-13 10:56] Jc2k opened #84 "Pull out BLE protocol serializing into a series of helpers"
Was implementing unpaired identify and wrote this for what felt like the 17th time:

[code]

So I think we need to define some serializer/deserializer helpers. I plan to do this after my backlog of PR's is cleared and test coverage is higher, as there is already a lot to review, so this ticket is just to collect ideas and remind me later.

Imagining something like:

[code]

These are quite 'pure'

[2019-01-13 11:21] Jc2k commented on #73
This can be closed now as #76 merged.

[2019-01-13 11:21] #73 closed

[2019-01-13 15:00] jlusiardi commented on #72
yes sounds like a plan to be considered

[2019-01-14 07:11] jlusiardi commented on #81
I am also onto a check if the given Adapter exists and supports bluetooth le at all

[2019-01-14 16:10] Jc2k opened #85 "What is right way to bootstrap the alias file?"
[code]

As a dev i know I can just make an empty file with `{}` in it. We should probably make this less of a UX papercut? How about it asks you y/n if you want to make that file, with an optional `-c` flag to always create file if it doesnt exist?

[2019-01-14 16:31] jlusiardi commented on #85
We could add a little tool that just creates this empty file and simply refer to it in the error message.

Since this is independent to ble, I would happily accepted a PR to master 😉

[2019-01-14 16:43] Jc2k opened #86 "Add flake8 to travis build"
I use flake8 a lot on my own python projects. If you've not seen it before its a linting tool. There are some good checks in there we could use:

 * Imports that are made but not used
 * Things that are used but not imported
 * Variables that are used by not assigned
 * Variables that are assigned but then not used
 * Identation errors (tabs vs spaces, not a multiple of 4 etc)
 * And more...

Ther

[2019-01-14 17:16] jlusiardi commented on #86
Yeah sure, sounds like a tool helping to improve the code quality!

[2019-01-14 21:48] Jc2k commented on #85
Hmm it would probably end up conflicting with the bluetooth branch 😢

[2019-01-14 22:17] jlusiardi commented on #85
one step after another...

[2019-01-14 22:28] Jc2k opened #87 "Problem with setup.py on some but not all pythons"
A HA user has reported an issue with the homekit 0.12.0 release:

https://github.com/home-assistant/home-assistant/issues/20115

[code]

Using `sdist` rather than the wheel. It's a Debian Stretch box with python 3.5.

Can't recreate on python3.6 / bionic (where im working on homekit stuff) or in a python:3.5 container.

[2019-01-15 01:42] jakeapp commented on #87
same issue here... python 3.5 on Debian Stretch based system...  cloning the repo and commenting out lines: 20,21;49,50  in setup.py allowed for trouble free install...

[2019-01-15 06:05] jlusiardi commented on #87
First hint tells me, that the TRÅDFRI is the problem (especially Å):
[code]
result:
[code]

[2019-01-15 07:38] Jc2k commented on #87
I couldn't get it to fail on a python:3.5 container. There i did this:

[code]

Apparently that is the default encoding that open will use - if that is returning something else on your environment that fails then passing encoding to open is the right fix. It's probably 'right' to pass utf-8 in top open() as we know README is valid utf-8, i guess.

[2019-01-15 09:05] jlusiardi commented on #87
ah, in the docker container it is "'ANSI_X3.4-1968'"

[2019-01-15 09:09] Jc2k commented on #87
It’s the same encoding the HA user is reporting! So explicit encoding in setup.py should fix it! 😃

[2019-01-15 13:01] Jc2k opened #89 "Decryption failure not mapped to an appropriate error?"
Sometimes decryption fails for HA users and homekit tries to append a bool to a bytearray:

[code]

[2019-01-15 13:03] Jc2k commented on #89
Looking at the code I can't really see how this could happen:

[code]

decrypt_block would have to be returning True o_O??

[2019-01-15 13:28] #87 closed, assigned to nobody

[2019-01-15 15:40] Jc2k opened #90 "Controller instance cannot recover from HTTP failure (IP backend)"
https://github.com/home-assistant/home-assistant/issues/18949

Reviewing the code, it looks like Session creates a single connection to an IP/Port and the same underlying socket and port is then reused. So the controller only works as long as the TCP session stays open. It looks like this can time out:

[code]

And then if the API is used again:

[code]

We need to handle socket errors, and automa

[2019-01-15 15:40] Jc2k commented on #90
I'll put together a PR for this, against master.

[2019-01-17 05:42] #68 closed

[2019-01-17 05:44] jlusiardi commented on #61
not more of `staging-gatt` is left, so I close this.

[2019-01-17 05:44] #61 closed

[2019-01-17 06:35] jlusiardi commented on #81
Merged #92

[2019-01-17 06:35] #81 closed

[2019-01-17 07:42] jlusiardi opened #93 "PR #92 introduced issues with the tests"
The function `hci_adapter_exists_and_supports_bluetooth_le` is breaking the tests.

I tried to work around that with a mock in `ble_controller_test.py`:

[code]

But this only gets used when I change the code under test form
[code]

to (in my eyes ugly):
[code]

@Jc2k: can you help?

[2019-01-17 07:52] Jc2k commented on #93
Yes! So the issue is that you are patching the place where the object is defined not where it is imported. But the mock is applied after imports have happened. So the code you are trying to test still has the unmocked version.

Try mocking homekit.controller.ble_impl hci_adapter_exists_and_supports_bluetooth_le?

[2019-01-17 07:57] Jc2k commented on #93
I would probably do the test and exception in our subclass of DeviceManager though (homekit.controller.ble_impl.device) - has the same effect but there is less code duplication and also you won’t need to mock it as the tests already mock DeviceManager!

[2019-01-17 08:02] Jc2k commented on #93
I noticed you switched away from assert in a recent commit. Note that in pytest assert is considered more normal than unittest asserts.

https://docs.pytest.org/en/latest/assert.html

[2019-01-17 18:13] jlusiardi commented on #93
ok found out it needs to be `@mock.patch('homekit.controller.controller.hci_adapter_exists_and_supports_bluetooth_le', return_value=True)` at least for the first test.

But I consider your proposal to move the check to our subclass of DeviceManager.

BTW: is there any way to discuss things (also open & transparent) but not in issues? E.g. wether to use pytest instead on unittest from above will so

[2019-01-17 18:18] Jc2k commented on #93
I was wondering the same myself. I use Gitter for another GitHub project (vmware_exporter) and thats OK. I've also got a few slacks so would be OK joining another one of those if it was appropriate. Homeassistant have a discord which I was considering joining to try and help a few homekit users over there. I used to be on FreeNode and OFTC but rarely check theses days. Gitter and Slack can both se

[2019-01-17 18:49] Jc2k commented on #93
Gitter does - you can see the vmware_exporter one here https://github.com/pryorda/vmware_exporter/blob/master/README.md - there is a badge that links to it and you can read without signing up. I don’t know how usable it is with a large chat history we’ve only just started using it.

Slack is probably the most closed and wouldn’t go that way.

Discord works in browser too and there is a persistent

[2019-01-17 21:31] jlusiardi commented on #93
Tests are green again

[2019-01-17 21:31] #93 closed

[2019-01-18 05:56] jlusiardi commented on #89
Ok this sounds interesting...

The `TypeError` says part must be `bool` but must not be `False` because of `tmp is not False`. So you are right, `decrypt_block` would have to return `True`.  This would be the case if `chacha20_aead_decrypt` returns `True`.  I cannot see, where this should come from? It has only to returns in it (one `False` the other one returning the plain text (which one line ab

[2019-01-18 06:04] jlusiardi commented on #86
Hey,

my latest code in `add_bluetooth` should already comply with this flake8 config. I just adjusted the handling of some import stuff:
[code]

Do you think that's ok?

[2019-01-18 08:09] Jc2k commented on #86
Nice!

I'm guessing most of the ignores are because of __init__.py stuff? I've managed to run it on fairly large projects without those (didn't want it to miss any undefined names). The trick to stopping those is to define an `__all__` list.

For example if you had an `__init__.py` that looks like:

[code]

Then to stop the error you can:

[code]

The __all__ list is actually used by the wildcard

[2019-01-18 11:39] Jc2k commented on #63
This looks like an error building gmpy2 (hard to tell from that error) which can probably be solved by installing 'libmpc' and 'mpfr' frrom brew.

#94 actually removes the need for it, though, and hopefully can be merged soon.

It still won't work on macOS because `py25519` doesn't work on macOS. I will have a PR to migrate to the X25519 key exchange code `cryptography` - at that point it should w

[2019-01-19 06:14] jlusiardi commented on #74
Correct

[2019-01-19 06:14] #74 closed

[2019-01-21 18:41] #90 closed

[2019-01-22 06:54] jlusiardi commented on #86
integrated to add_bluetooth

[2019-01-22 06:54] #86 closed

[2019-01-25 05:55] jlusiardi opened #100 "Print pairing status in human readable"
Since the feature flag is static and the status flag displays the pairing status, the both discovery scripts should print the status flag also in human readable form (1 unpaired / 0 paired). This is also in the spec.

[2019-01-29 06:03] jlusiardi commented on #100
Done & merged

[2019-01-29 06:03] #100 closed

[2019-01-29 06:51] jlusiardi commented on #80
Hi,

i guess this fragment serves as reproducible test for this issue?

[code]

The issue is, that `list_accessories_and_characteristics()` does not take into account if there is a secure connection or not and tries to perform an unsecure read:
[code]

[2019-01-29 06:57] Jc2k commented on #80
Exactly on both counts. Although as Apple advise to do this over a secure session after pairing and we already have a pairing to use this method, I wonder if it should be updated to always create a secure session if one doesn't exist like the other methods on pairing?

[2019-01-29 07:07] Jc2k opened #103 "list_accessories_and_characteristics for BLE doesnt return value"
For IP accessories the values are just there, for BLE we will have to fetch them.

[2019-01-30 07:13] jlusiardi commented on #80
made some little progress. but this tends to render the accessory to a state were I have to factory reset :/

[2019-02-05 17:01] Jc2k opened #104 "Need to be able to start pairing without knowing PIN code"
Some of the HA users have a Ecobee 3. (IP based, homekit 0.12.2). It's impossible to pair with one of these devices currently because the pairing code is displayed on the Ecobee after the the first pair-setup request is sent. So you don't know the correct code to enter when pairing.

## The problem

As I put it in the HA ticket:

 * You enter a random (or old) setup code
 * HA sends a M1 Pair Setu

[2019-02-05 19:49] jlusiardi commented on #104
Ok, this is a nice one ;)

 I can fully confirm this issue and hostly did not really think about it before.

My first thought was a a call back as well. The proposal to split the pairing function into 2 parts sounds reasonable.

One question pops in to my mind: how will HASS.io will store the `finish_pairing` function over the requests?

[2019-02-05 21:09] Jc2k commented on #104
Good question!

So i'm part way through porting the HA bit to use the newish ConfigEntry API (I anticipate it being requested by reviewers when adding bluetooth discovery), and from what I have so far it looks like when a device is discovered a ConfigEntry object is created that persists between front-end requests. I think I could potentially put it there or on the related ConfigFlow object as wel

[2019-02-06 05:48] koreth commented on #89
[code]

Should that be `if decrypted is not False:`?

[2019-02-06 06:36] jlusiardi commented on #89
ok, now you make me feel blind... I guess this one happened when I refactored the `decrypt_block` into a function of its own.

[2019-02-06 07:16] Jc2k commented on #89
Oh my word, how did my eyes misparse that bit of code. I had totally read it as `if decrypted is not False` already. Yes, that explains the strange error message. The current if clause may as well be `if True` right now, so when decrypt does fail we'll try to concat a bool. Good spot, @koreth!!

But I think we need to do more than that as the proper fix. Whenever we have seen this error in HA it h

[2019-02-08 21:24] jlusiardi commented on #89
So we should basically raise a new exception and close the socket?

[2019-02-08 21:28] jlusiardi commented on #104
ok, I am definitely open for a fix of that issue. Either by splitting into two functions or by adding a call back.  Any progress on the HASS.io side?

[2019-02-09 09:34] Jc2k commented on #89
Yep I think so 👍🏻

[2019-02-10 16:30] jlusiardi commented on #89
I think I did some improvements in #105. Would you mind have a look @Jc2k ?

[2019-02-11 18:31] jlusiardi commented on #89
I think this can be closed

[2019-02-11 18:31] #89 closed

[2019-02-12 06:55] jlusiardi commented on #63
we removed the assumed culprit (requirement for gmpy2) but got no feedback. I was able to install on OS X high sierra in version 0.12.1 so closing this.

[2019-02-12 06:55] #63 closed

[2019-02-12 07:07] jlusiardi commented on #103
I see 3 quick options:

1. both **do not** return the values of the characteristics, which means we are loosing functionality on the IP accessories
2. both **do** return values, but this will be much slower on BLE accessories
3. We document the behavior and accept it the way it is

@Jc2k What do you think? Any fourth option?

[2019-02-12 10:05] Jc2k commented on #104
I forgot to post an update on this.

I'm still working on the ConfigEntires side. It's quite a large change and I have to worry about migrations of existing devices as well. It's probably going to have to be split up into smaller pieces to pass review. I need to add more tests still, and I need them to clarify a few things about the API. So yes, nothing new to report, unfortunately.

I'll probably

[2019-02-13 05:57] jlusiardi commented on #103
I think we must be careful for caching and c#:

- BLE accessories use CN (Configuration number, 1-255) to be increased on firmware update. So a change to this should trigger a call to `list_accessories_and_characteristics` for BLE accesories.
- BLE accessories use GSN (Global State Number, 1-65535) to increase on changes to characteristics that support a Disconnected events. So sadly not all value

[2019-02-13 06:02] jlusiardi commented on #104
About merging: do you think the BLE functionality is "good" enough for that move? I mean there some bits and pieces missing (like #62 , #80 and maybe more). On the other hand, it offers basic functionality...

[2019-02-13 07:30] Jc2k commented on #103
Yes I agree, I think I overcomplicated what I was trying to say. I certainly don't plan on caching `list_accessories_and_characteristics` values like temperatures or positions or on/off states. What I meant was to do what it say on page 73:

(This is on the HA side, I don't want to complicate things on the homekit_python side, at least not yet).

So my TL;DR is that I don't mind if `list_accessori

[2019-02-13 07:35] Jc2k commented on #104
RE: merging, maybe we should spin up a milestone for merging and tag tickets we think are a blocker for an initial release of bluetooth functionality. In general I think we are "good enough" to merge, maybe with an "experimental" tag. I'm actaully not too worried if we ship without #62. But would probably want to make a decision about #103. #80 would be nice, but things are working without it.

I'

[2019-02-13 07:41] Jc2k opened #106 "BLE branch install and runtime dependencies"
The BLE branch introduces new dependencies, at install time and again at runtime.

I think the new install time dependencies should be optional. I think we should do this with `extras_require` in setup.py, see [here](https://setuptools.readthedocs.io/en/latest/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies).

Then we should see what happens on a mac if you try and r

[2019-02-13 08:07] jlusiardi commented on #106
`extra_require` does not help during installing via `pip` but I think I will give it a try 👍🏼

The second block looks interesting but we shouldn’t have those all over the code I guess

[2019-02-13 08:11] Jc2k commented on #106
It should help with pip as well. You would be able to do pip install homekit[ble].

[2019-02-13 08:13] Jc2k commented on #106
And yeah, we dont want try/except imports everywhere. We can probably contain it to a few places so it’s not too ugly.

[2019-02-13 12:03] jlusiardi commented on #106
Yay got it. Using pip to install this package doesn’t rely on requirements.txt. But is this file then needed at all?

[2019-02-13 14:19] Jc2k commented on #106
The thing I always bring out when this comes up is a blog post by one of the pypi maintainers:

https://caremad.io/posts/2013/07/setup-vs-requirement/

You are right, a library doesn't strictly need a requirements.txt, and all being well `pip install -e .` in a virtualenv is the same (if not better than) a `pip install -r requirements.txt`.

There might be some value in having a requirements.txt f

[2019-02-17 17:38] jlusiardi commented on #106
This could also solve the issues with different operating systems, when BLE support is only available on Linux? Could make a ticket for non-linux platforms obsolete (see https://github.com/jlusiardi/homekit_python/issues/104#issuecomment-463091030).

[2019-02-17 17:45] jlusiardi commented on #62
@Jc2k what about this one for the BLE merging milestone?

[2019-02-17 18:40] #85 closed

[2019-02-17 20:04] Jc2k commented on #62
For me it’s a nice to have in the first release. I think it’s going to be a while before I can use HA with events.

[2019-02-17 20:05] Jc2k commented on #106
Ahh I did actually raise *this* ticket for the non-Linux platforms :) so there is no other ticket I plan to open about it 👍🏻

[2019-02-18 05:55] jlusiardi commented on #106
d'oh ;)

[2019-02-19 17:52] jlusiardi commented on #106
I did some work on this in https://github.com/jlusiardi/homekit_python/tree/fix_106_install_and_runtime_dependencies

What do you think?

[2019-02-19 20:56] Jc2k commented on #106
Looking good!

Re: 8ae8fe4dcec332348d9ce6b813083954f5ed2085 - this actually makes our cryptography dependency >=2.5 instead of >=2. I checked in HA - thats OK from my point of view, HA upgraded last week. But I thought i'd highlight it - we should bump setup.py to >=2.5.

It's annoying that we can't drop the cairo dep + gtk deps. I might have to try and reach out to them about it if it complicates

[2019-02-20 17:43] jlusiardi commented on #106
ah, yes right, forgot about cryptography 2.5. I did 8ae8fe4 because it complained about deprecation with the used version. I'll update in setup.py & requirements.txt.

Regarding the other dependencies, should we pinpoint at least the major versions for now?

And set some python minimum version? Perhaps 3.3, I am pretty sure 2.x does not work.

[2019-02-21 22:10] quarcko opened #108 "Problem with Xiaomi Aqara gateway and lowercase service and characteristics UUID's"
There was big update in Home Assistant homekit controller component,
and now the problem that was badly patched by me in 'get_short' making UUID .upper()
does not help anymore, as there is now need to have '.upper()' in also 'get_uuid'
method - which can accept both short uuid or string name (so cannot make upper there)...

I am not very good at python, nor know your library well, but i have an id

[2019-02-21 23:05] jlusiardi commented on #108
Hi,
i hoped we had fixed the issue in #101. What commands did you execute and can you `--log DEBUG`?
Greetings
Joachim

[2019-02-22 07:53] quarcko commented on #108
Problem is not with your command line tools (which still work fine), but in the Home Assistant,
which uses your library to communicate to Homekit devices. Specifically this file is making use
of 'get_short' and after last update also 'get_uuid' was added to the mix:

https://github.com/home-assistant/home-assistant/blob/dev/homeassistant/components/homekit_controller/__init__.py

Of course i could

[2019-02-22 21:14] jlusiardi commented on #108
@Jc2k can you help here?

[2019-02-22 22:19] quarcko commented on #108
Sorted.
Please review my PR, now it is "true" fix and controller.py level.
All 'types' are converted to uppercase for all devices.

So it should work now for your own command line tools as well as for external users like HA.

[2019-02-22 22:23] quarcko commented on #108
P.S.
could you make a release of lib before HA 0.89 cycle starts?
Would like to see this merged there

[2019-02-23 00:10] Jc2k commented on #108
My config flow branch of HA actually does some fixes on the HA side for this, but I think your PR is the right way.

We should do it for characteristics too. Both type fields should be normalised to upper case full uuids wherever possible.

[2019-02-23 00:33] quarcko commented on #108
So far this fix just does uppercasing, conversion to full UUID is missing,
need to check if rest of library will be able to operate after such conversion.

[2019-02-23 08:57] jlusiardi commented on #108
@quarcko can you add conversion to full UUIDs?

[2019-02-24 07:08] quarcko commented on #108
Done.

[2019-02-25 18:08] Jc2k commented on #106
RE: python version - definitely no need to support 2.x at this point, I agree i don't think it would work. HA only supports 3.5 and later, so thats the only versions I strongly care about. I am interested in trying to add some asyncio stuff in the future, which I believe is easier if targetting 3.5 and later.

Looking at distro versions:

 * Alpine 3.8 - python 3.6.6
 * Alpine 3.9 - python 3.6.8

[2019-02-25 20:39] jlusiardi commented on #106
Ok, so we should agree on 3.5 onwards which would
- be good enough for Home Assistant
- cover most of the current linux distributions

Since 3.5, 3.6 and 3.7 seem to be in use under linux, I should have automatic tests for them.
Perhaps also integrate OS X with at least 3.5.

[2019-02-25 20:40] Jc2k commented on #106
Sounds good to me 👍

[2019-02-27 06:08] jlusiardi opened #110 "Improve documentation for CLI tools"
Rework README.md to be up to date with the codebase and describe all commands.

[2019-02-27 21:10] jlusiardi commented on #106
Just making some experiments to also have windows as test platform.

[2019-02-27 21:35] jlusiardi commented on #108
@quarcko just merged! Congrats ;)

[2019-02-28 20:21] quarcko commented on #108
Thank you for helping out with this patch :)
When is planned next release? hope to hit HA soon... :)

closing.

[2019-02-28 20:21] #108 closed

[2019-03-01 00:14] alistairg commented on #104
FYI - this same issue will affect anyone trying to pair with the Honeywell Lyric security system....

[2019-03-01 05:34] jlusiardi commented on #104
Hey @alistairg,

as far as this project here is concerned, there are already efforts done in a branch (https://github.com/jlusiardi/homekit_python/tree/fix_104_split_create_pairing). But it seems a little harder on the HomeAssistent side. Are you able to test if the pairing code from the branch can pair the Honeywell Lyric security system?
Regards
Joachim

[2019-03-01 05:37] jlusiardi commented on #108
perhaps I could do it into a 0.12.3 next week, but not sure when. I am a little busy currently.

[2019-03-01 07:32] Jc2k commented on #104
Hi @alistairg

On the HA side, this is blocked on migrating from `configurator` to config entries. There is a branch to do that [here](https://github.com/home-assistant/home-assistant/issues/15622). Getting it upstream is going to take a little while it's a 4000 line diff - I'm probably going to have to try and do it in stages because of the review process.

Right now the code in HA around discove

[2019-03-01 17:18] jlusiardi commented on #104
@Jc2k is there any way to make the pairing on the command line with my tools and have HomeAssistent use this data later? Not very comfortable but perhaps a way to go until HomeAssistant got your code?

[2019-03-01 17:31] Jc2k commented on #104
Kind of, I've had success guiding people to do that in HA tickets already. The gist of it is - when pairing a device you give `-a` the HKID of the device you are pairing rather than choosing a friendly name. The drop the resulting file in `.homekit/pairing.json` in the folder when your `configuration.yaml` lives.

E.g.

https://github.com/home-assistant/home-assistant/issues/15336#issuecomment-460

[2019-03-04 09:14] rgruyters opened #116 "Xiaomi Mi Bedside Lamp 2 pairing problem"
I'm trying to add my Xiaomi Mi Bedside Lamp 2 to my Hass, but uncounted an issue.

<img width="363" alt="53557023-61235b00-3b45-11e9-86a7-4ef62e3f4d03" src="https://user-images.githubusercontent.com/2082795/53722453-e10f3500-3e65-11e9-8cbe-075a9b27f725.png">

After some debugging I noticed the following message:

[code]

I logged into the hassio container and tried to use the Python module directl

[2019-03-04 09:28] rgruyters commented on #116
FYI, I have no issues when pairing via Home.app on iOS devices.

[2019-03-04 10:11] jlusiardi commented on #116
Hi,

`BusyError` should mean that there is already pairing attempt blocking the next one. Could you unpair the iOS device and try again.

Also the homekit version is up to date? Could you try the code from the repository and use branch `add_bluetooth`? The pair.py can print debug information with `-–log DEBUG` Then.

[2019-03-04 12:40] rgruyters commented on #116
Hass.IO uses version 0.12.2.
[code]
Need to find a way to install the `add_bluetooth` branch on hassio.

[2019-03-04 12:52] rgruyters commented on #116
I have tried from local branch source `add_bluetooth` by executing `pip install .` but when trying to do a discover I get the following message:

[code]

[2019-03-04 17:05] rgruyters commented on #116
I have removed pairing to Home.app and now I get the following message:
[code]

[2019-03-04 19:23] rgruyters commented on #116
I have tried to install the `add_bluetooth` branch but no luck.

[code]

[code]

[2019-03-05 08:21] Jc2k commented on #116
@rgruyters the add_bluetooth branch will not work with HA or HASS.io yet. When it's released I will make the neccessary changes to HA. I think @jlusiardi means you should try and pair with the CLI using the add_bluetooth branch, not try and run HA/HASS.io with the add_bluetooth branch.

[2019-03-05 08:23] Jc2k opened #117 "Factor out discover_homekit_devices into helper function"
HA uses its own zeroconf discovery. It would be good to be aple to reuse the logic in `discover_homekit_devices` for parsing the properties data it discovers.

(This came up in a code review in HA where i'm handling the pairing status flags).

(I plan to try and look at this myself but is there a branch you'd prefer to see it on?)

[2019-03-05 10:13] jlusiardi commented on #116
Yes exactly what @Jc2k said. Sorry for my imprecise wording. I just want to exclude that hass.io has effects and in the branch we have more debug logs as described in my last comment.

[2019-03-05 10:25] jlusiardi commented on #117
As for the branch: this has nothing todo with bluetooth, right? So just branch of master. I have a precondition that must hold: the project must be usable without hass.io (and keep integratable with others)

[2019-03-05 11:10] Jc2k commented on #117
Sure. I all I plan to do is split `discover_homekit_devices` into 2 functions - the behaviour will be unchanged for `discover_homekit_devices`. But the new function will take a dictionary of properties HA has found and do the same normalisation homekit_python does with its discovery code. It's important that this library works standalone.

Branchwise - I agree it should be fine on `master`, i just

[2019-03-05 13:39] jlusiardi commented on #117
i have to admit, i am not so experienced with merging and see this more as a challenge 😉

[2019-03-05 13:48] Jc2k commented on #117
Haha 😂

[2019-03-05 19:16] rgruyters commented on #116
Ah, ok. Will try in my local dev environment.

[2019-03-06 08:16] rgruyters commented on #116
Finally find the time to do it. Here is the debug output. Hopefully it gives enough info to get it working.

[code]

[2019-03-06 21:36] jlusiardi commented on #116
mmh just to be sure an not miss out anything, the pin code was entered with the dashes like XXX-XX-XXX?

[2019-03-07 05:28] rgruyters commented on #116
Uh, no? Should I? It doesn’t say on the back of the device.

[2019-03-07 05:30] jlusiardi commented on #116
Oh ok, I did not put it into documentation explicitly because Apple's spec is pretty precise: It should look like 123-45-678 (which is forbidden by the spec by the way ;) ) Can you give it a try?

[2019-03-07 05:39] jlusiardi commented on #116
https://images.ifun.de/wp-content/uploads/2019/01/mi-bedside-lamp-2-fuss.jpg shows a model with pin 38174620 which should be something like 381-74-620.

[2019-03-07 05:52] rgruyters commented on #116
Ok. Just test it on the current release 0.12.2 and works fine when I dashes.
Thanks for the help and info.

[2019-03-07 06:01] jlusiardi commented on #116
Ok this is good news. Perhaps code should be added to prevent such an issue (at least print a warning when using the tools from this project).

65752d38ddf1015af63130b5158715e141281761 should at least improve the README.md

[2019-03-07 06:47] jlusiardi opened #118 "Pin Codes only work when they are formattet like XXX-XX-XXX"
The missing documentation led to issue #116 and might confuse users.

We should (in addition to 65752d3) do the following:
- enhance  the help on `pair.py` and on `pair_ble.py`
- add code to warn the user about malformed pin codes

[2019-03-07 06:52] #116 closed

[2019-03-09 07:48] rgruyters opened #119 "Can't concat bool to bytearray"
With Home Assistant I had added a Xiaomi Bedside Lamp 2 through Homekit Controller. When I want to control the light I get the following errors:

[code]

[code]
I have already posted an issue on the Home Assistant Github page, https://github.com/home-assistant/home-assistant/issues/21793.
As far as I can read Traceback calls it looks like an issue with the Homekit Python module.

[2019-03-09 10:44] jlusiardi commented on #119
Hey,

i should release a version 0.12.3, we have fixed that issue a while ago (see #89).

[2019-03-09 11:09] jlusiardi commented on #119
@rgruyters can you try to increase the version for homekit to 0.12.3 and test again?

[2019-03-09 14:44] rgruyters commented on #119
I have just tested it and works like a charm. Thanks for the fix.
What is the process for getting this into the next release of Home Assistant?

[2019-03-09 19:57] rgruyters commented on #119
Maybe too soon. Still got an error. Doing a last check to make sure. Will let you know when I have tested again.

[2019-03-09 21:43] rgruyters commented on #119
When I restarted Home Assistant it works fine for a few minutes. After that when I try to control the light I get the following message:

[code]

[2019-03-10 08:29] jlusiardi commented on #119
hey,

I am confused. Are you sure, that HomeAssistent uses Version 0.12.3?

just took a look into a downloaded version of `homekit==0.12.3`, but the block around secure_http.py line 136 looks like:
[code]
The `TypeError: can't concat bool to bytearray` look familiar, but the `ValueError: negative buffersize in recv` is new though.

[2019-03-10 10:43] rgruyters commented on #119
I have checked and looks the same.

Here is the lines from my environment.
[code]

[2019-03-10 11:31] rgruyters commented on #119
Found the issue. (I think)
With Hass.io there is another (second) location of Python libraries. (/config/deps/lib/python3.7)
Why beats me, but I will try to update this as well to see if it will fix my problem.

[2019-03-10 11:55] rgruyters commented on #119
It works fine now. Apparently I have installed local Python module in my `/config/deps` folder. Which overrule the default `/usr/local/lib/python`.

Sorry for all the problems, but the problem is solved.

[2019-03-10 11:58] #119 closed

[2019-03-10 12:24] jlusiardi commented on #119
Hey @rgruyters,
no problem. I am always learning new stuff and I am glad to help.

[2019-03-10 19:19] jlusiardi commented on #110
done

[2019-03-10 19:19] #110 closed

[2019-03-10 19:22] jlusiardi commented on #106
ok, i think this is done

[2019-03-10 19:22] #106 closed

[2019-03-11 01:33] evisser4 commented on #119
How do I force home assistant to require 0.12.3?

[2019-03-11 05:53] jlusiardi commented on #119
Hi @evisser4,

since this is not an issue with `homekit_python` I can't really help you. Perhaps you should ask the folks from homeassistant in their project?

Joachim

[2019-03-11 09:32] rgruyters commented on #119
You have to copy the component from `homassistant/components/homekit_controller` folder and copy it to `custom_components` folder. Update the `REQUIREMENT` statement in `__init__.py`, and restart your environment.

[2019-03-27 19:00] rgruyters opened #123 "negative buffersize in recv and Error during transmission"
I encounter sometimes an issue when my Hass receives an update from my bedside lamp, Xiaomi Bedside Lamp 2.

[code]

[code]

I had this issue with version 0.12.2, 0.12.3 and now also with 0.13.0 of homekit(_controller).

[2019-03-29 15:42] jlusiardi commented on #123
Hey @rgruyters,
Does the lamp work fine with HASS besides those issues? I guess that perhaps the session times out on the lamp's side...
Regards
Joachim

[2019-03-29 19:50] rgruyters commented on #123
@jlusiardi yeah it works fine. No issues so far.

[2019-04-01 20:27] Jc2k commented on #123
I suspect this might be one of the things #114 is meant to fix?

[2019-04-01 21:19] jlusiardi commented on #123
@Jc2k i will have a look

@rgruyters how often does this happen? Any chance you can try with the patch from #114?

[2019-04-01 21:34] Jc2k commented on #123
I've applied those fixes to master and pushed it [here](https://github.com/Jc2k/homekit_python/tree/114_rebase) (not sure if #114 will be new enough for the version of HASS @rgruyters has).

[2019-04-02 07:52] rgruyters commented on #123
@jlusiardi @Jc2k I should be able to test this. Will look into it tonight or tomorrow. (depends if I can find the time to do tonight)

[2019-04-02 08:06] ypokhilko opened #125 "Eve Energy 1EC0 - (list index out of range)"
yuri@eee701:~$ python3 -m homekit.discover_ble

Name: Eve Energy 1EC0
MAC: ca:ec:e5:4c:4e:f8
Configuration number (cn): 1
Device ID (id): 17:63:4B:BA:33:9B
Compatible Version (cv): 2
Global State Number (s#): 2
Status Flags (sf): The accessory has not been paired with any controllers. (Flag: 1)
Category Identifier (ci): Outlet (Id: 7)

yuri@eee701:~$ python3 -m homekit.identify -m ca:ec:e5:4c:4e:f

[2019-04-02 19:50] rgruyters commented on #123
I have updated the `secure_http.py` file and will do some test runs. Will let you know if it works. (or not)

[2019-04-03 18:31] rgruyters commented on #123
So far so good. No new traceback messages.

@Jc2k can we create PR for Home Assistant to include the new version of homekit[IP] into homekit_controller?

[2019-04-03 18:44] Jc2k commented on #123
We need to test this change a bit more and get it merged to master first, then do a tag. As soon as all that has happened I will do a PR (master has another fix I need soon too).

There’s one more small change I’d like to sneak in before the next tag, so I’ll try and get a PR in for that tonight.

[2019-04-04 05:58] jlusiardi commented on #123
I will have a look on the weekend! Is there any way we can include some kind of test for this in the test bench?

[2019-04-04 06:05] Jc2k commented on #123
I've been wondering the same thing :-/ Maybe @mumblepins can help?

We should be able to test the change to `_handle_request` by making a put request with a large number of characteristics in it? And it looks like for testing `_read_response` we can use a get for a large number of characteristics?

But i'm not sure at all how to induce the negative buffer size error in a test...

[2019-04-04 06:08] jlusiardi commented on #123
ah ok, sorry, I foremost meant how to test requests with more than 1k data. I didn't stumble over it, because my devices to so. Perhaps, we could start with a modification to `demoserver.py` to have a start.

[2019-04-04 06:11] Jc2k commented on #123
Thinking about it, I did hack my local demoserver.py to have lots of accessories and there was an error with a thousand light bulbs but not a hundred. Let me see if I can recreate.

[2019-04-04 06:20] Jc2k commented on #123
No, at 1000 lightbulbs on one bridge I get 65k of JSON from `/accessories`. It is truncated at 65385 bytes and won't parse. But I don't get a negative buffersize. So there must be another trigger for that.

[2019-04-07 09:57] jlusiardi commented on #123
Ok, so we have 2 issues:
- to large requests like `/characteristics?id=1.2,1.3,...` with a vast number of ids (more than 1024bytes). This is fixed by #114 and could be tested with:
[code]
- your issue with the response getting truncated. can we create a test for that?

[2019-04-08 05:30] jlusiardi commented on #118
merge #127

[2019-04-08 05:30] #118 closed

[2019-04-09 05:07] jlusiardi commented on #125
Hello @ypokhilko,
sorry that it took me a while. Which version of the project did you use? And can you upgrade to master?
Regards
Joachim

[2019-04-10 05:24] ypokhilko commented on #125
Hello Joachim! Thank you very much for your hard and very useful work
[error.log](https://github.com/jlusiardi/homekit_python/files/3062101/error.log)
Upgraded to master. Same error... New output attached.
BTW. homebridge-ranger works fine with this device. Do you need any logs?
Thanks!
Yuri

[2019-04-10 13:10] Jc2k commented on #125
Very weird - the Eve Energy is the device I use when testing any of my BLE related pull requests. For me previously it was working very well. I haven't been doing much work on BLE specific stuff lately, so I will dig it out and make sure it still works with mine, but it will be a couple of days before I have the time.

Can you confirm your firmware version? It's possible i'm running an older one.

[2019-04-10 14:05] Jc2k commented on #123
I have managed to recreate the exception synthetically! I still don't know how this happens "in the wild", though.

See [this commit](https://github.com/jlusiardi/homekit_python/commit/2f05c6776dbcd51e164c7dd3e4756d2556066eb7). I modified ResponseProvider

The three blocks are:

[code]

Observations:

 * If the 2nd block is between 1 byte and 946 bytes and there is a 3rd block this happens.
 * If

[2019-04-10 16:39] jlusiardi commented on #125
@Jc2k i already thought about buying one myself. Glad you have one :)

[2019-04-10 16:47] Jc2k commented on #125
Haha I have an Eve Motion for when I have time to work on BLE events too ! And the Eve radiator valve thing.

[2019-04-10 17:22] ypokhilko commented on #125
Eve Energy:
Firmware: 1.3.1 (466)

[2019-04-11 05:40] #123 closed

[2019-04-11 10:03] Jc2k commented on #117
Closing because change merged.

[2019-04-11 10:03] #117 closed

[2019-04-12 21:13] valkjsaaa opened #129 "Vocolinc SmartBar non standard feature flag and disconnect during pairing"
I have this Vocolinc SmartBar that I'm trying to use with home assistant. However, it seems that   it have a non-standard feature flag that is preventing me from discover it. I manually fixed it, but it still won't pair. I suspect that the device reset during the pairing process.

Discover:
[code]
(The first device is another device that I have that works perfectly with `homekit_python`. The secon

[2019-04-12 22:12] jlusiardi commented on #129
Hey,

are you using master or a release?

For the FeatureFlag Problem: Current implementations breaks if more than bit 0 is used. Will fix that soon.

I will have to think a little more about the pairing issue.

[2019-04-12 23:43] valkjsaaa commented on #129
Thanks for the prompt response.

I have tried both the latest release on pypi and the master. The result is the same.

Let me know if there is anything that I can help on the pairing issue. I can send you my MAC address and pairing code through a private channel if you need.

I also tried to pair with it using my iPhone and it works. I can also send you a network trace of my iPhone trying to pair

[2019-04-14 19:55] jlusiardi commented on #129
Hi  @valkjsaaa,

Just merged #130 which fixed some issues with headers in case of HomeKit IP. Perhaps this fixes this issue as well?
Also a network trace might help here.

[2019-04-14 20:33] valkjsaaa commented on #129
I just tried the latest master branch and it still stuck at the same point.

I'll capture a network trace next time.

[2019-04-15 16:37] netmanchris opened #131 "IP Discovery not working on MacOS"
Following the example in the README results in an exception.

Platform: macOS Mojave
Python 3.6 ( virtual env )
homekit[ip] 0.13.0

Happy to provide more info upon request but hoping this is enough to point me in the right direction.

[code]

[2019-04-15 16:59] jlusiardi commented on #131
Hi @netmanchris,
looks like this device has a non-standard accessory category (Table 12-3 on page 254f says that all above 20 is reserved). What kind of device do you have there?

[2019-04-15 17:47] netmanchris commented on #131
Hey @jlusiardi I'm running this in a subnet that has 150+ physical accessories ( showing 254 online and 50 devices offline which are the break outs of the physical accessories ).

Sounds like you might be suggesting I might need to split out the various accessories into a seperate subnet and then reperform the discovery to see if I can see which one is failing?

[2019-04-15 19:27] jlusiardi commented on #131
oh wow, thats a big amount!

no I would prefer to have some logs. Can you try with master instead of a release from pypi? I will push a change with extended logging for `discovery.py` now.

[2019-04-16 13:22] netmanchris commented on #131
Here's the debug before the exception was raised

[code]

In case you see it somewhere, For my local copy, I reved the library version to 0.13.1 to make sure I wasn't running the mainline version.

[2019-04-16 15:58] jlusiardi commented on #131
Ok, i failed. The problem happens *before* the log is done. I Just pushed some more logging.

[2019-04-16 16:43] netmanchris commented on #131
you didn't fail. You just proved the error is earlier. :)

Here's the new logs

[code]

[2019-04-16 17:16] netmanchris commented on #131
Haven't setup full testing yet, but made added humidifier to the category.py file and seems to be getting through this exception now.  available here and happy to issue a PR (https://github.com/netmanchris/homekit_python)

Was able to get this output from the Debugs

Name: VOCOlinc-Flowerbud-0d19f1._hap._tcp.local.
Url: http_impl://10.101.0.133:80
Configuration number (c#): 12
Feature Flags (ff):

[2019-04-16 17:30] jlusiardi commented on #131
Ok, did you add the 22 as new category „humidifier“? Since this seems unofficial perhaps we should add some marker?

[2019-04-16 17:57] netmanchris commented on #131
Yes, I added 22 as the new category humidifer.

https://developer.apple.com/documentation/homekit/hmaccessorycategory/accessory_category_types

It does look like **categorTypeAirHumidifier** is an official category, but I haven't found where that maps into the integer 22 yet.  I'm guessing that since Air Humidifier is an official category, it should have an official designation.  I'm guessing ther

[2019-04-16 17:59] netmanchris commented on #53
@jlusiardi  For the testing.

Would it be ok to post to the wiki with tested devices using the classification.

Thinking that just posting at least this output per device model would be useful.  Let me know if that makes sense.

[code]

[2019-04-17 01:28] netmanchris commented on #131
hey @jlusiardi

I'm thinking that the categories may be "official" but hidden in the commercial spec. I did find this other repo that seems to have some of the other categories defined and it also lines up with "22" being the humidifier category.

https://github.com/abedinpour/HAS/blob/master/src/categories.ts

[2019-04-17 04:04] AnthonyBoYuan commented on #129
My name is Anthony, from VOCOlinc Product team. My colleague just shared this 'issue' with me. The differences between PM1(which works I think?) and Smartbar is that Smartbar uses Software Authentication instead of an MFi chip in PM1.  Sorry that I am not authorized to provide you details on how to using a third-party tool for pairing due to the confidential deal between Apple and VOCOlinc.

[2019-04-17 05:53] jlusiardi commented on #131
ok, interesting. Can you make a pull request and add those two links as comment near the new categories?
Those should be new:
[code]

[2019-04-17 06:54] Jc2k commented on #131
I guess this is more than just a discovery issue and more that we only support what is specified in the spec from 2017. I suspect this is official and the non-commercial spec just hasn't been updated. E.g. we know there are new official characteristics around TV support because they were announced recently at Apple events, but these aren't in the spec yet either.

Looks like these are new to us:

[2019-04-17 15:04] netmanchris commented on #131
Following up. Sent a PR for the new categories as discussed.  Placed comments in Class docstring as well as right above the code with the new categories.

[2019-04-18 02:11] netmanchris commented on #53
@jlusiardi

Working on first testplan output for Eve Light Strip

# Step 1 Discovery
Command - (venv) Christophers-MacBook-Air:HomekitPythonPlaying christopheryoung$ python -m homekit.discover >  pairingtest.txt

## Output

Name: Eve Light Strip 8606._hap._tcp.local.
Url: http_impl://10.101.0.175:80
Configuration number (c#): 1
Feature Flags (ff): Supports HAP Pairing (Flag: 1)
Device ID (id): 1A:

[2019-04-18 04:47] jlusiardi commented on #131
Ok, i just added a branch `fix_131_add_new_categories_characteristics_and_services` for that changes. We should add it there first.

[2019-04-18 05:01] jlusiardi commented on #53
hi @netmanchris,
ok sorry for the troubles. I updated the wiki with a new step 3 to create the controller storage. The parameters for the commands should be explained in the help for each command (`--help`).

[2019-04-18 05:35] jlusiardi commented on #131
@Jc2k i just got access to a mac to investigate the XCode stuff: there are headerfile confirming even Showerheads (`HMAccessoryCategoryTypeShowerHead`) but there is no mapping to numbers or UUIDs...

[2019-04-18 06:50] Jc2k commented on #131
Just had a quick look myself and I found a swift file with stuff like:

[code]

But not the values. So I made a swift playground and did this:

[code]

And it spat out the UUID.

So it we can confirm that the characteristics are official and the UUID's are right.

[2019-04-18 15:43] netmanchris commented on #53
@jlusiardi No trouble at all! I'm happy to be able to go through this and help highlight issues in the docs and help to improve them!

Is there a way for me to contribute to the Wiki?  GITHUB doesn't have a great way to contribute to docs through a GIT workflow. :)

There's also a spelling mistake on step

# Step 5. Paired Identity

[code]
Should be homekit.identity.

What's the best way to be abl

[2019-04-18 16:25] jlusiardi commented on #131
Mh on my iPad, the `import HomeKit` fails, but the Home App is thre and working

[2019-04-18 16:26] Jc2k commented on #131
Boo - this was in XCode FWIW

[2019-04-18 18:39] jlusiardi commented on #131
Ok I was confused because the iOS app is named the same. Do you know if a playground on Mac OS can be scripted? I ask because I expect updates to those definitions every now and then...

[2019-04-18 19:35] Jc2k commented on #131
Hmm no idea tbh - that was the first time i tried it!

[2019-04-18 20:11] jlusiardi commented on #131
ok, so we should find out...

[2019-04-18 20:34] jlusiardi commented on #53
Hey, I copied the wiki contents into the doc folder. Now everyone can make PR like for normal project content.
So should be easier to work on that.

[2019-04-19 17:21] netmanchris commented on #53
@jlusiardi  Awesome.

1 For submission of individual device tests, How would you like to see that?  I'm thinking the following

- New directory under doc of "tested_devices"
- each device should have a single page with the device output for that specific device.

2 Should we also include the version of the library it was tested with? Thinking this is probably a good way to track changes in device

[2019-04-19 17:28] netmanchris commented on #131
PR https://github.com/jlusiardi/homekit_python/pull/133 was merged.   Is it ok to close this issue?

[2019-04-19 19:02] jlusiardi commented on #53
1) sounds great!
2) yes, including the version is a great idea to track improvement
3) can you elaborate a little what the advantage of a special branch would be?

[2019-04-19 19:04] netmanchris commented on #53
1 and 2. Perfect.

3 - No specific advantage - just guessing based on the PR for the new device categories. :)

[2019-04-19 19:06] jlusiardi opened #136 "Extract new Categories, Characteristics and Services"
As discovered in #131 there might be more Categories, Characteristics and Services missing in the non commercial version of the specification. Perhaps they can be extracted via Swift playground on Mac OS.

[2019-04-19 19:07] jlusiardi commented on #131
:+1: but i opened #136

[2019-04-19 19:07] #131 closed

[2019-04-19 19:09] jlusiardi commented on #53
3) such a report of a device is passiv data. So it does not change the code and can be merged into master directly IMHO

[2019-04-19 19:10] netmanchris commented on #53
Works for me!

[2019-04-20 09:38] jlusiardi commented on #136
First steps done in branch `fix_136_extract_information`

[2019-04-20 09:39] jlusiardi commented on #136
@Jc2k any idea how to get from the UUIDs to the numerical IDs?

[2019-04-20 10:46] Jc2k commented on #136
Which numerical ID's? I can only thing of the names and the short uuids?

[2019-04-23 05:18] jlusiardi commented on #136
ok, imprecise wording:
I tried to add some swift playground to extract the missing data for `homekit/model/categories.py` (as to complete table 12-3 page 254 from the spec). Since this was the main issue in #131. Of course we need the UUIDs of the new services for classes in `homekit/model/services` and of the new characteristics for classes in `homekit/model/characteristics` as well.

[2019-04-23 11:14] Jc2k commented on #136
Oh i get it - we can see that a new category officially exists because its in the headers but looks like we can't extract the numerical category id, because the const in the header is actually for a UUID. And it looks fairly random, so we can't chop the end off like we do with the other ones.

No - I don't know how to go from UUID to ID, unfortunately.

BTW I just found this which looks useful. Do

[2019-04-28 19:48] jlusiardi commented on #125
@ypokhilko can you provide the log produced by homebridge-ranger?

[2019-04-29 07:46] ypokhilko commented on #125
[logs.zip](https://github.com/jlusiardi/homekit_python/files/3126358/logs.zip)

[2019-04-29 15:09] netmanchris commented on #53
@jlusiardi  Added PR https://github.com/jlusiardi/homekit_python/pull/137 with test results for Eve Light Strip.  Can you please have a look and let me know what else we want to get added to the test_results? If there's more info we want to grab I'm happy to do it but wanted to get that list solid now before so I don't have to go back and add to devices in the future.

[2019-04-29 17:28] jlusiardi commented on #53
@netmanchris I just had a brief look at https://github.com/netmanchris/homekit_python/blob/master/doc/tested_devices/Eve%20Light%20Strip.md. Since there is pretty much input/output stuff involved it would be better readable if all IO related stuff would be surrounded by **```**?

Another interesting aspect: since the accessories do not all have the same characteristics, how can a test for `put_cha

[2019-05-02 19:09] netmanchris commented on #53
Adding the ``` . for proper input/ouput rendering.

I'm still learning the code base, so I'm not sure I have an opinion on what a test for a specific accessory type would look like. I do think that in an ideal world we should be able to capture all charecteristics reported by an individual accessory even if this is a custom characteristic specifically for that device only.   I've pushed to https:/

[2019-05-04 07:16] jlusiardi commented on #136
I am also not into any form of coding in Apple specific languages / frameworks...

[2019-05-04 07:35] jlusiardi commented on #125
To be honest, I have no clue other to get the hand on one of those things as well. But this may not be of any help because of the firmware version issues.

@Jc2k so you have Eve Energy as well. Different firmware on your side?

@ypokhilko did you reset the device to factory settings?

[2019-05-04 07:42] Jc2k commented on #125
Hi - sorry haven't had any time to look at bluetooth stuff for a bit.

Just quickly reset it and paired with my iphone and it is on version 1.2.2, so I guess something could have changed. The firmware update shows 1.2.6 (1128), seems that 1.3.1 is not available for my unit?

Will try and find time to test pairing and control etc with 1.2.6 but mine might be too old to be able to recreate it...

[2019-05-09 20:59] voynovia opened #138 "Adapter "hci0" does not suit our needs"
**python3 -m homekit.discover_ble --log DEBUG**

`Adapter "hci0" does not suit our needs
2019-05-09 21:56:30,184 discover_ble.py:0045 DEBUG Adapter "hci0" does not suit our needs
Traceback (most recent call last):
  File "/home/pi/python/homekit_python/homekit/discover_ble.py", line 42, in <module>
    devices = Controller.discover_ble(args.timeout, args.adapter)
  File "/home/pi/python/homekit_py

[2019-05-10 06:08] jlusiardi commented on #138
Hello,

ok, the error message is not expressing the real issue. It seems that it does not have Bluetooth LE in a supported fashion? What kind of adapter is it?

I will change the error message to be more clear.

Regards
Joachim

[2019-05-10 10:34] voynovia commented on #138
'hcitool lescan' works

This is Raspberry Pi 3 B+

[2019-05-10 15:09] jlusiardi commented on #138
Interesting, I will have to investigate

[2019-05-10 21:01] jlusiardi commented on #138
@voynovia can you change line 26 of `` from
[code]
to
[code]
and attach the result?

[2019-05-11 10:19] jlusiardi commented on #138
I tried to improve the situation in branch `fix_138_adapter_not_suitable`. Can you use this branch to test if you think it improves your situation?

[2019-05-11 18:56] voynovia commented on #138
Adapter "hci0" seems not to support Bluetooth LE, the command might not function properly!
Bluetooth adapter not ready. Set `is_adapter_powered` to `True` or run 'echo "power on" | sudo bluetoothctl'.
2019-05-11 19:53:05,399 discover_ble.py:0045 DEBUG Bluetooth adapter not ready. Set `is_adapter_powered` to `True` or run 'echo "power on" | sudo bluetoothctl'.
Traceback (most recent call last):
  F

[2019-05-12 11:40] jlusiardi commented on #138
Hi,

ok, this looks like the adapter is not powered on.

Can you execute  `echo "power on" | sudo bluetoothctl` and see if it works?

[2019-05-14 17:02] jlusiardi commented on #138
ok, now the adapter should be turned on before usage, can you give it another try?

[2019-05-22 01:01] netmanchris commented on #53
Hey @jlusiardi

Can you please take a look at the following?  I ended up creating a jupyter notebook which might make it easier to duplicate this. Output gets exported as the following markdown with a bit of manual fixing of some of the formating.

https://github.com/netmanchris/homekit_python/blob/master/doc/tested_devices/Eve%20Light%20Strip.md

Hoping we've got a winner here. :)

[2019-05-23 05:45] jlusiardi commented on #53
look great! Step 2 has some minor issue in one heading: `result **✔ **`
Can I see the jupyter notebook? I guess that might be a good thing to add?

[2019-05-23 14:07] netmanchris commented on #53
Here's the jupyter notebook.

https://github.com/netmanchris/homekit_python/blob/6aa2a571985557599c7a3550ea9817658adc70e7/doc/tested_devices/Homekit%20Device%20Test%20Template.ipynb

The formating is a little off. Not sure if you're familiar with Jupyter. The "!" in front of the command allows me to run a terminal command from within the python cel.  So the actual template is a bit off from the MD

[2019-05-23 23:55] netmanchris commented on #53
Added Jupyter Notebook and MD file for the Eve Energy Strip as well in the same folder.  The nice thing about using the Notebook format is that it should be easy to rerun the test for a given device against new versions of the library.

[2019-05-24 05:00] jlusiardi commented on #53
When I see the lot of devices (most paired) I think we should add filtering to the discover functions. At least a filter to hide all paired devices on demand.

[2019-05-24 17:58] netmanchris commented on #53
That would be useful for sure.   I'm actually seeing a ton of paired devices showing up within HomeAssistant as well. I'm guessing that it might be using the same discovery component and showing the same results?  If so, the filtering of unpaired devices could be useful beyond testing as well.

[2019-05-24 18:01] netmanchris commented on #53
Looks like we're getting ready to close this issue and start adding more tested device output to the repo. If there are any specific devices that need testing, feel free to let me know and, assuming I have it, I can prioritize.

[2019-05-25 19:12] jlusiardi opened #139 "Add filter to the discovery commands"
Add option to show only unpaired devices when invoking `homekit.discover` and `homekit.discover_ble`.

[2019-05-25 19:45] jlusiardi commented on #53
I opened a new issue (#139) for filtering, merged your request and did some rework (y).

Great work, thank you! Looking forward to the other device reports!

[2019-05-30 08:47] jlusiardi commented on #138
should work after merging #141 so I will close this now

[2019-05-30 08:47] #138 closed

[2019-06-01 08:50] jlusiardi commented on #139
fixed in #142

[2019-06-01 08:50] #139 closed

[2019-06-01 08:53] jlusiardi commented on #129
@AnthonyBoYuan that sounds a little weird. So iOS Devices handle VOCOlinc Smartbars different that other accessories?

[2019-06-10 20:51] jakeapp opened #143 "JSON Decode Error"
Working on getting a currently unsupported thermostat paired and working (Shout out to Jc2k and jlusuardi on all the upgrades!)

[code]

Line 33 in:  /homekit/model/feature_flags.py  throws:

[code]
during discovery

without line 33 discovery shows:

[code]

if done through hass this error also happens:

[code]
The thermostat indicates on the display a successful pairing even though homekit_python

[2019-06-11 07:28] jlusiardi commented on #143
Hello @jakeapp,

thanks for your bug report.

The pairing seems to work, at least the device thinks it is paired. The code from this project assumes that there is only bit 1 used in the feature flags (as specified in the HomeKit Accessory Protocol Specification page 69, table 5-8). Apparently Apple extended this and uses bit 2 now for some information. I will push a fix later today into a branch.

[2019-06-11 09:04] AnthonyBoYuan commented on #129
iOS device handle accessories using "MFi IC Authentication" differently with those accessories using "Software Token Authentication". Smartbar using the latter. @jlusiardi

[2019-06-11 09:48] jlusiardi commented on #129
Hey @AnthonyBoYuan,

Is the "VOCOlinc – PM5" also using "MFi IC Authentication"? And should not all commercial products use this chip? Is there any Apple Spec freely available?

Regards
Joachim

[2019-06-11 10:13] AnthonyBoYuan commented on #129
@jlusiardi

PM5 uses "MFi IC Authentication".
Our new models using "Software Token Authentication" due to the benefits mentioned in
https://www.wipro.com/applications/Apple/what-we-think/apples-adk-and-software-authentication/

And I think you can get information from Apple's website if you have a developer account. But not sure if there is a spec released or not.
https://developer.apple.com/homek

[2019-06-18 21:10] a3135134 opened #144 "Will you support add pairings?"
Will you support add pairings?

[2019-06-20 07:00] jlusiardi commented on #144
Hi,

Add pairing (as of chapter 4.11 of the spec) might be implemented. But the first step involves some out-of-band  mechanism, which is not described. This mechanism must provide

- AdditionalControllerPairingIdentifier
- AdditionalControllerLTPK

I have no clue on how this out-of-band mechanism  works for iOS devices.

What kind of controllers do you want to add?

[2019-06-20 17:57] a3135134 commented on #144
Hello,
As a first step, I think it would be good to provide methods implementing AddPairings and provide a class to generate AdditionalControllerPairingIdentifier and AdditionalControllerLTPK as a demo.

I want to control HAP device on different clients, but the device can only be paired with one controller. Could you provide some clues to implement this function? I can do it myself. I believe thi

[2019-07-05 19:00] netmanchris opened #145 "Issues with pairing LIFXZ LED strip"
Looking for troubleshooting steps here

I can see this device
[code]
When I attempt to add this device using the following command
[code]

The function appears to finish with the following response
[code]

Unfortunately, there's nothing in the lifx2 database.

I would appreciate pointers on how to troubleshoot this!

thanks!

[2019-07-05 20:36] jlusiardi commented on #145
hey,

can you tell me which version of homekit_python you are using?
Can you rerun the pairing with a `--log debug` and post the output?

regards
Joachim

[2019-07-05 21:57] netmanchris commented on #145
Sorry!

Version 0.14.0

Here's the debug

[code]

Here's the output.

``2019-07-05 17:49:54,039 __init__.py:0106 DEBUG #1 ios -> accessory: send SRP start request
2019-07-05 17:49:54,039 tlv.py:0134 DEBUG sending [
  6: (1 bytes) 0x01
  0: (1 bytes) 0x01
]

2019-07-05 17:49:54,040 tlv.py:0117 DEBUG receiving [
  6: (1 bytes) 0x01
  0: (1 bytes) 0x01
]

2019-07-05 17:49:54,040 __init__.py:0060 DEBU

[2019-07-05 22:01] netmanchris opened #146 "Unable to unpair Lifx Tiles"
Testing out the LIFX Tiles product and I'm unable to remove the homekit pairing.

Let me know if more information is required. Happy to get whatever we need.

* device manufacturer : **LIFX**
 * device model : **LIFX Tiles**
 * device firmware version : **3.50**
 * device hardware version : **1.0**
 * communication channel : **IP**
 * version of *homekit* library: **0.14.0**
Symptom: Python except

[2019-07-06 06:19] jlusiardi commented on #146
hey, seems like the version is 0.13.0 and not 0.14.0(`site-packages/homekit-0.13.0-py3.7.egg/`). can you retry with 0.14.0? Not sure this will fix anything but just not to chase old issues.

[2019-07-06 06:20] jlusiardi commented on #145
same here, try to use 0.14.0 please

[2019-07-06 07:57] jlusiardi commented on #144
hey,

i did some work in branch `fix_144_add_pairings`, perhaps you can have a look?

One thing is still missing:
remove_pairing command can only remove the pairing over which one connects to the accessory. This is bad because non-admin pairings cannot remove themselves. I am on this issue.

[2019-07-06 17:37] a3135134 commented on #144
A non-admin user cannot remove pairings according to spec in section 4.12.  So it's not necessary to implement that.

[2019-07-07 13:27] jlusiardi commented on #144
Yes that is correct. But if a admin user adds a non-admin user and removes the admin pairing after that, the non-admin user can use the accessory but cannot add or remove pairings anymore.

[2019-07-08 18:46] a3135134 commented on #144
No. This situation is also considered in spec. If an accessory does not have a admin-user, it will remove all users. So you don't need to worry about that.

[2019-07-10 20:31] jlusiardi commented on #144
can you have a look if the code from the branch https://github.com/jlusiardi/homekit_python/tree/fix_144_add_pairings fulfills the requirements?

[2019-07-14 18:00] #143 closed

[2019-07-15 13:41] Jc2k opened #150 "KeyError during discovery"
A HA user has reported a KeyError whilst doing discovery. It looks like there might be a feature flag we don't recognise. Their report is [here](https://github.com/home-assistant/home-assistant/issues/25118).

[code]

I have asked what device they are trying to pair.

[2019-07-16 05:27] jlusiardi commented on #150
Hey @Jc2k,

looks like #143 (merged on the weekend) perhaps I should craft a new release.

Regards
Joachim

[2019-07-16 05:30] Jc2k commented on #150
Aha, indeed it does. A new release could be handy indeed.

Cheers
John

[2019-07-17 04:44] jlusiardi commented on #150
0.15.0 is out for you!

[2019-07-18 04:31] jlusiardi commented on #48
done with #149

[2019-07-18 04:31] #48 closed

[2019-07-19 04:58] jlusiardi commented on #144
Meanwhile I merge into master.

[2019-07-19 18:35] a3135134 commented on #144
Thanks. I see.
I believe it would be decent.

[2019-07-19 20:09] #144 closed

[2019-07-23 12:48] Jc2k opened #151 "Thinking about the events API"
I'm looking at how to move Home Assistant to use events with homekit_python. I've just got a prototype working, but its a bit different to how things work now and I wanted to start a conversation about it.

The goals are:

 * There should be a documented way to build hybrid push/poll applications (e.g. you can get an event for the `on` characteristic but not for temperature characteristics which y

[2019-07-23 15:07] Jc2k commented on #151
Prototype for opion 2 in #152

[2019-07-26 08:40] Jc2k opened #153 "Asyncio support?"
It's been on my long term wishlist for a while to have an asyncio client. I thought it was nice but wouldn't enable new features or have much impact in terms of reliability. But working on #61/62 has been a bit of a pain because of threading, and it would be nice not to have to deal with threads in HASS.

Do you have any interest in having an asyncio client within homekit_python or would it be bet

[2019-07-26 09:32] jlusiardi commented on #153
Hey,
I never did something with asyncio, so no clue about this topic. But I will not say no without looking at it.
Joachim

[2019-07-26 10:41] Jc2k commented on #153
Cool. I will try and make a mockup of what the HTTP client would look like with asyncio, and keep the sync code as is. First pass will be just to get something that works, but definitely lots of opportunity to share code between the two.

If that works, then i'd ditch my prototype from #62 and instead say if you want to multiplex events and request/reply on the same TCP stream like Apple you have

[2019-07-28 12:50] SimonThoustrup commented on #150
Hi. Similar error on 0.96.5 when selecting HomeKit Accesory from the 'Add new Integration' menu. I never see the next input box, the system just reloads the 'Add new Integration' menu.

 File "/usr/local/share/homeassistant/lib/python3.7/site-packages/homekit/controller/controller.py", line 89, in discover
    return discover_homekit_devices(max_seconds)
  File "/usr/local/share/homeassistant/lib/

[2019-07-28 14:05] Jc2k commented on #150
@SimonThoustrup thanks for the comment but that should really go on the HASS ticket I mentioned unless you can reproduce it **outside** of HASS with the latest homekit_python package.

The fix is in a homekit_python release but it’s not yet in a HASS release, so there’s nothing to do on the homekit_python side.

[2019-07-29 08:28] Jc2k commented on #151
My main concerns about the events API (difficulty in avoiding threading hell and also coping with unsolicited `EVENT/1.1` messages finding their way into blocking calls like `get_characteristics`) are alleviated by #154.

I think that instead of changing the events API the solution is that for my kind of use case you need to be using a natively async API like asyncio. So I will close this for now.

[2019-07-29 08:28] #151 closed

[2019-07-30 16:18] jlusiardi commented on #150
@Jc2k can we close this?

[2019-07-30 16:36] Jc2k commented on #150
I think so!

[2019-07-30 16:36] #150 closed

[2019-07-30 16:39] Jc2k commented on #153
The http aio prototype  is nearly ready, got a test that passed but leaves a thread hanging to sort out and events to test out then will port my hass branch to use it and see how it feels.

[2019-07-30 21:51] tleegaard opened #155 "Support for Velux gateway (KIX 300)"
I've managed to pair the Velux Gateway with Home Assistant as Homekit controller, and the device is showing the temperature and humidity sensor, but not the CO2 sensor. I thought I would give this a try, to see the raw output of HomeKit Python:

(For the record - I have only tinkered with KIX300 (gateway) and KLA300 (indoor sensor) for now, as I'm awaiting the motorized windows to be installed)

*

[2019-07-31 05:03] jlusiardi commented on #155
Hello tleegaard,

I assume you are using HomeKit Python 0.15.0?

The first discover and the pairing look great. What exactly do you mean with "the
device is showing the temperature and humidity sensor, but not the CO2 sensor"?
The output of `python3 -m homekit.get_accessories -f velux -a velux` seems to
include a section for the carbon-dioxide sensor (which shows 0, which is strange):
[code]

Can

[2019-07-31 05:06] jlusiardi commented on #153
I will try to have a look at it soon, latest on the weekend in the train!

[2019-07-31 05:37] tleegaard commented on #155
Yes - I'm on 0.15.0 :)

In Home Assistant only the temperature and humidity sensors would show up - but maybe that is due to something in HA.

I also found out that I can unpair the gateway successfully with `python3 -m homekit.remove_pairing -f velux -a velux`. I have to leave out the **-i** parameter.

The carbon dioxide sensor is calibrating for ~10 hours after batteries are inserted - for now

[2019-07-31 06:56] jlusiardi opened #156 "Explain -i parameter for remove_pairing"
Make clear when the -i is required and where to get the correct values from.

[2019-07-31 06:58] jlusiardi commented on #155
Ok, there is a misunderstanding in the meaning of the `-I` parameter. I will opened a ticket to explain that better (#156).

The value of the CO2 sensor being constant 0 seems to be more an issue with the Accessory itself. Can you test with a iOS Device if the value changes there?

[2019-07-31 07:44] Jc2k commented on #153
Hanging test fixed, test for auto-reconnect added, going to try and get events working today/tomorrow.

[2019-07-31 10:24] tleegaard commented on #155
I'm not sure the 2.16 is the relevant value:
**python3 -m homekit.get_accessories -f velux -a velux**
[code]
903 (`2.17`) is the value shown in the Velux app.

**python3 -m homekit.get_characteristic -f velux -a velux -c 2.17 --log DEBUG**
[code]

[2019-07-31 11:00] jlusiardi commented on #155
Ah so `carbon-dioxide.level` is the current measurement and `carbon-dioxide.detected` might be if it is over a threshold?

[2019-07-31 11:06] tleegaard commented on #155
That could probably be the case - I haven't seen the `carbon-dioxide.detected` value change though :-)

[2019-07-31 11:25] Jc2k commented on #155
We don't have a Home Assistant entity to map HomeKit CO2 sensors to to HomeAssistant sensors, i'm not sure that there is actually any problem on the homekit_python side.

[2019-07-31 20:44] jlusiardi commented on #155
Hey @tleegaard,
I"d love to have a PR from you with a filled [Template](https://github.com/jlusiardi/homekit_python/blob/master/doc/tested_devices/TEMPLATE.md). What do you think?

[2019-07-31 20:55] tleegaard commented on #155
Absolutely! For now I only have the gateway and the climate sensor up and running. But when the motorized windows are installed I will fill out the template :-)

With help from @Jc2k I have got the CO2 sensor available in Home Assistant now:
![Skærmbillede 2019-07-31 kl  22 28 15](https://user-images.githubusercontent.com/5439041/62247348-e86f4600-b3e5-11e9-867f-a60596c141d1.png)

[2019-08-01 09:14] Jc2k commented on #153
Got it working in HASS with events, though havent tried pairing yet with a real device yet.

Wanted to be able to test events in CI so have added events support to accessory server - see [this commit](https://github.com/jlusiardi/homekit_python/pull/154/commits/3691b3452345f8ff87177d2dd63d4db95b3f01a6).

I can pull this out as a seperate PR for #51 if you like, or we can keep it together.

[2019-08-02 19:07] jlusiardi commented on #155
Thats cool!

[2019-08-02 20:23] slvwolf commented on #125
Seeing precisely the same error on firmware version 1.3.1

[2019-08-02 21:00] jlusiardi commented on #125
[code]
Could you please try to print the response_tlv just before this line?

[2019-08-04 20:55] slvwolf commented on #125
At that point `response_tlv` is an empty list

[code]

[2019-08-10 16:03] tleegaard commented on #155
@jlusiardi --> https://github.com/jlusiardi/homekit_python/pull/157

[2019-08-10 16:03] #155 closed

[2019-08-18 14:48] niemyjski opened #158 "IP Discovery is not working on MacOs"
I ran the following command  (latest stable of everything)

[code]

I'm guessing it has to do with not supporting my LG c9 tv (wonder what it will do when I get the homekit component for my shower :D). https://www.theverge.com/2019/7/24/20708380/lg-apple-airplay-2-homekit-2019-oled-microcell-uhd-tv

[2019-08-18 21:00] jlusiardi commented on #158
looks like #131 and #136 is still open.
The listing of IDs from Table 12-3 Accessory Categories are limited. There are new categories in new devices but I do not know them. Should make a generic solution and map unknown categories to "Category 31' in this case?

[2019-08-18 21:19] jlusiardi commented on #158
@niemyjski can you try to use https://github.com/jlusiardi/homekit_python/tree/fix_158_unknown_categories in HASS.io or directly to do `python3 -m homekit.discover --log DEBUG`?

[2019-08-19 15:55] niemyjski commented on #158
Yes, is there an easy way to update to this branch using pip3?
Thanks
-Blake Niemyjski

On Sun, Aug 18, 2019 at 4:19 PM Joachim Lusiardi <notifications@github.com>
wrote:

[2019-08-20 08:25] jlusiardi commented on #158
Hi,
should be doable with `pip3 install --user -e git+https://github.com/jlusiardi/homekit_python.git@fix_158_unknown_categories#egg=homekit`
-Joachim

[2019-08-21 01:37] niemyjski commented on #158
Sweet! That worked

[code]

[2019-08-21 05:19] jlusiardi commented on #158
Hey @niemyjski ,
cool! Can you also pair it and use the other homekit tools?
Joachim

[2019-08-21 07:13] Jc2k commented on #158
@jlusiardi in case of delays with timezones i figured i should post the original exception from the [Home Assistant side of things](https://github.com/home-assistant/home-assistant/issues/25960). When trying to verify the pairing code with the TV we are seeing:

[code]

@niemyjski is running 0.97.2 here, so the homekit_python version will be 0.15.0.

[2019-08-21 12:31] niemyjski commented on #158
I'll try pairing it today or tomorrow. I didn't know what I needed to specify for the `-f` flag. @Jc2k responded to that question last night. Seems like that should be optional as a file could be created with the device name in a sub directory of the install folder.

[2019-08-24 05:40] #51 closed

[2019-08-27 12:42] sderuiter opened #166 "Can I read Homekit values for all accessories paired?"
Hi,

Possibly a dumb question, but I can't get from the readme whether this implementation would fit my needs.

I have Philip Hue lights and sensors and Tradfri power plugs and a Raspberry Pi with a sensor, running Homebridge.

My goal was to build a Python script to read all values from all sensors (and light/power states), for storage into a db. My assumption was that homekit_python gives me tha

[2019-08-27 12:45] jlusiardi commented on #166
Hey
You should be able to read the values after you paired the homekit python code as a Controller.
Joachim

[2019-08-27 12:48] sderuiter commented on #166
Thank you Joachim, is there an example script available somewhere?

[2019-08-27 19:04] jlusiardi commented on #166
Hi @sderuiter,
you can achieve a regular polling of all paired accessories with the commands described in the readme:

1. create empty controller data file with (`python3 -m homekit.init_controller_storage -f ${PAIRINGDATAFILE}`) or reuse an existing one
2. pair all accessories with `python3 -m homekit.pair -d ${DEVICEID} -p ${SETUPCODE} -f ${PAIRINGDATAFILE} -a ${ALIAS}` or `python3 -m homekit.pa

[2019-08-27 20:53] Jc2k commented on #166
We use homekit_python in home-assistant for the [`homekit_controller`](https://www.home-assistant.io/components/homekit_controller/) plugin and it indirectly does what you are looking for (there is a [`recorder`](https://www.home-assistant.io/components/recorder/) component which logs entity states into a database). I don't know if it supports the device types you are interested in or does so in a

[2019-08-27 21:14] Jc2k commented on #158
To me, this looks like a completely normal M1/M2/M3 exchange, then the TV abruptly returns nothing / closes the connection instead of sending us an M4. There are no extra fields or new reserved flags suddenly being used in the M2 to indicate we should behave differently. I wondered if they rolled out a new pairing scheme (different salt? pub key?) There is no new spec, though. That likely means it

[2019-08-27 21:20] Jc2k commented on #136
Apple have published a new version of the PDF spec [here](https://developer.apple.com//homekit/specification/). This seems to have new categories and new characteristics (like 00000126-0000-1000-8000-0026BB765291, button event).

[2019-08-28 07:24] jlusiardi opened #167 "Add accessory categories from 2nd revision spec"
add the new categories from spec rev 2 page 252 to `homekit/model/categories.py`.

[2019-08-28 13:20] moinahmed001 opened #168 "Support Koogeek light strip?"
Does this script support Koogeek light strip?

[2019-08-28 13:29] Jc2k commented on #168
I've seen the Koogeek LS1 work for a few users in home-assistant (which uses the homekit_python library). But if you are asking because you want to buy one, we can't guarantee you'll not get hardware from a different batch or with a different firmware version that works differently.

[2019-08-28 19:56] jlusiardi commented on #136
Yay cool! Thank you! I will have a Look!

[2019-08-29 17:54] jlusiardi commented on #168
Hello @moinahmed001,

as @jc2k wrote, we cannot give any guarantee. But there are two other accessories from Koogeek in our tested devices section so i would say, chances might not be that bad. If you decide to give the  LS1 and homekit_python a chance, let us know the results! Would be happy to have it listed under https://github.com/jlusiardi/homekit_python/tree/master/doc/tested_devices

[2019-08-29 18:06] jlusiardi commented on #156
done with #159 #

[2019-08-29 18:06] #156 closed

[2019-08-30 07:17] jlusiardi commented on #167
see #169

[2019-08-30 07:27] #167 closed

[2019-08-30 07:28] Jc2k commented on #167
Nice

[2019-08-30 07:28] jlusiardi commented on #136
merged with #169

[2019-08-30 07:28] #136 closed

[2019-08-30 08:55] jlusiardi opened #170 "Pairing Issues: Eve Energy 1EC0 / LG C9 stuck at #5 ios -> accessory: send SRP exchange request"
In #125 and #158 there are reports that _Eve Energy 1EC0_ and _LG C9_ are both stuck at the same problem. This seems to influence both transports.

Citing @jc2k:

[code]

[2019-08-30 08:58] jlusiardi commented on #158
@niemyjski and  @jc2k: i would like to close this and move the issue to #170, since this is not discovery related anymore and we seem to have the same issue with at least the Eve Energy 1EC0 plug as well.

[2019-08-30 08:59] jlusiardi commented on #125
@ypokhilko , @slvwolf and  @jc2k: i would like to close this and move the issue to #170 because the issue is on more than your device

[2019-08-30 08:59] Jc2k commented on #158
Fine by me!

[2019-08-31 13:50] Tediore opened #171 "Add support for HomeKit displays?"
My Vizio TV was just updated with HomeKit support. The TV pairs with HASS, but no entity appears. I don't need this feature, but others might want it. I can help with testing if this is something that should be added to the platform.

[2019-08-31 15:40] jlusiardi commented on #171
Hey,

Thanks for your oder! Great to hear you are already able to pair with HASS.
I appreciate your offer and will send you a list of things you might test for me, would that be ok?

Joachim

[2019-08-31 16:00] Tediore commented on #171
Yes, sounds good.

[2019-08-31 21:22] jlusiardi commented on #171
Hey @Tediore,

could you please do the following for a start:

1. unpair the tv from HASS
2. clone this repository
3. checkout our working branch `git checkout fix_171_homekit_displays`
3. perform a `python3 -m homekit.init_controller_storage -f tv.json`
4. perform a `python3 -m homekit.discover` and post the output related to the TV
5. perform a pairing with `python3 -m homekit.pair -d ${DEVICEID

[2019-09-01 03:49] Tediore commented on #171
I've cloned the repo, but when I run `git checkout fix_171_homekit_displays` I get the following error:
`fatal: Not a git repository (or any of the parent directories): .git`

What am I doing wrong?

[2019-09-01 03:51] Tediore commented on #171
Here's everything I ran in the terminal:
`mattjwydra@penguin:~$ git clone https://github.com/jlusiardi/homekit_python.git
Cloning into 'homekit_python'...
remote: Enumerating objects: 116, done.
remote: Counting objects: 100% (116/116), done.
remote: Compressing objects: 100% (83/83), done.
remote: Total 3420 (delta 62), reused 60 (delta 32), pack-reused 3304
Receiving objects: 100% (3420/3420), 1

[2019-09-01 03:51] Tediore commented on #171
Here's the full terminal output:
`tediore@penguin:~$ git clone https://github.com/jlusiardi/homekit_python.git
Cloning into 'homekit_python'...
remote: Enumerating objects: 116, done.
remote: Counting objects: 100% (116/116), done.
remote: Compressing objects: 100% (83/83), done.
remote: Total 3420 (delta 62), reused 60 (delta 32), pack-reused 3304
Receiving objects: 100% (3420/3420), 1.21 MiB | 0

[2019-09-01 06:46] jlusiardi commented on #171
Sorry, I didn't know your level of shell knowledge and setup. I added some steps that were missing.

Steps for preparation:
1. unpair the tv from HASS
2. clone this repository
3. change into cloned repository: `cd homekit_python`
3. checkout our working branch: `git checkout fix_171_homekit_displays`
3. create a virtual environment: `python3 -m venv venv` (package under debian: `python3.7-venv`)
3

[2019-09-01 12:26] Tediore commented on #171
No problem. Sorry about that, I should have mentioned that I'm very much a beginner, but I'm willing to learn and help. I got up up to step 7 and received this error for each wheel it tried to build:
`error: invalid command 'bdist_wheel'`

[Terminal output from step 7](https://pastebin.com/amKKycAj)

[2019-09-01 18:10] jlusiardi commented on #171
Hey,

can you tell me which distribution you have?
On Debian the file `Python.h` could be from `libpython3.5-dev`. Can you try again after installing?

[2019-09-01 18:40] Tediore commented on #171
Debian. Will do, sorry for the trouble.

[2019-09-02 16:32] Tediore commented on #171
Figured it out, I was missing some dependencies. Running `PYTHONPATH=. python3 homekit/discover.py` doesn't result in any output in the terminal or in tv.json. As a result, I'm assuming I don't have the DEVICEID  and PIN that I need to do the next command.

[2019-09-02 19:20] jlusiardi commented on #171
`PYTHONPATH=. python3 homekit/discover.py` should return something like
[code]
And the interesting thing is the line with `Device ID (id): 12:00:00:00:00:00`. I guess, since the TV obviously has a display, the required pin code will be displayed there. Perhaps you must activate a special mode on the TV before?
Use `PYTHONPATH=. python3 homekit/pair.py -d ${DEVICEID}  -f tv.json -a TV --log DEBUG`

[2019-09-03 02:09] Tediore commented on #171
Yeah, unfortunately I've tried everything I can think of at this point. I confirmed on the TV that it's unpaired from HomeKit and it shows up in HASS discovery...so it's broadcasting that it's available to be paired but the terminal command isn't finding it for some reason.

[2019-09-03 04:16] Jc2k commented on #171
So HASS and homekit_python both ultimately use the same zeroconf library, there shouldn't really be much that could stop it working. homekit_python only ignores zeroconf results that don't have a HomeKit model or configuration model, i think hass tries to continue if they are missing, but thats a massive (and obvious) spec violation so i dont think it would be that.

Do any other devices show up?

[2019-09-03 04:46] Tediore commented on #171
Understood, good to know.

No other devices show up, but the only device that I have paired with HK controller is my Ecobee. It's a Debian VM on my chromebook which is on the same network and subnet as all other devices. Different machine than my HASS setup. The chromebook and TV are connected over wifi.

[2019-09-03 05:17] Jc2k commented on #171
I don’t really know the chromebook stack but given HASS can see it id assume it was something on the chromebook- can you ssh into the HASS box and run command there?

[2019-09-03 07:32] jlusiardi commented on #171
Just a guess:

This means you are using bridged networking and not some kind of NAT for the VM? Can you ping the TV?

[2019-09-03 10:31] jlusiardi commented on #158
Continued in #170!

[2019-09-03 10:31] #158 closed

[2019-09-03 12:04] Tediore commented on #171
@Jc2k I can try that.
@jlusiardi Correct. I can ping the TV, and `nmap` shows all the devices on my network.

[2019-09-03 13:07] jlusiardi commented on #171
nmapping and pinging the tv only means you can connect to it. can you post the IPs of the TV and the VM? And perhaps do a traceroute?

[2019-09-03 13:35] Tediore commented on #171
Before I try anything else, I'll ssh into my Pi and run the commands from there. But yes, I'll also run a traceroute.
Sorry for the trouble, hopefully this isn't more of a pain than it's worth.

[2019-09-03 14:04] Jc2k commented on #171
Another thing is that the HASS instance will have captured and cached much of the data we are after already. When the TV is paired with HASS, in the directory where your configuration.yml lives you will find a .storage folder, and inside that one of the files should be called something like `homekit_controller-entity-map`. That will have JSON for all of your paired devices (including your ecobee).

[2019-09-03 14:47] Tediore commented on #171
Ugh I completely forgot about that...I've poked around in that file before too. Well, I'll take a look at everything tonight. Also, if it's relevant, I'm running Hassio on Raspbian.
It might also be interesting to note that I can no longer pair the TV to HASS since I paired and unpaired it the first time. HASS reports it discovered a new device, but when I click on _configure_ in the HASS integrat

[2019-09-03 16:08] jlusiardi commented on #125
Continued in #170!

[2019-09-03 16:08] #125 closed

[2019-09-04 01:41] Tediore commented on #171
So I SSH'd into my pi and tried running the commands. Running `pip install .[IP,BLE]` gave me the same warnings as before about missing dependencies, so I installed those. It still gives me a long error at the end, so I decided to run `pip install .[IP]` which worked except it said `failed to install homekit`.

Either way, running the discovery command worked, but it doesn't detect the TV. It only

[2019-09-04 06:26] jlusiardi commented on #171
First of all, is this still a beta version of the homekit support? Or the stable version? It could be that we are hunting a bug in VIZIO's implementation.

Is this the TV? If so, is there any information on screen or in the logs that look like a Device ID (12:34:56:78:90:12 for example)?

Perhaps something failed. Maybe there is an option to reset the homekit stuff (without reseting the other sett

[2019-09-04 07:13] Jc2k commented on #171
Related to:

Did you unpair on the TV? Or from within HASS. HASS won't actually tell the device to unpair yet, so you have to unpair on the TV end.

That said, a paired TV should still show in the discover output, unless they don't advertise when paired for some reason?

[2019-09-04 12:08] Tediore commented on #171
@jlusiardi: Yes, HASS is detecting the TV again. I can only assume it's a stable version since I never signed up for beta firmware for my TV, but I'll take a look at that. I don't see anything that looks like a device ID.

@Jc2k: I unpaired from within HASS and from the TV itself. I can pull up the pairing screen and HomeKit code on the TV.

[2019-09-08 09:54] jlusiardi commented on #171
@tediore, so hassio can discover the TV from your Raspberry pi. That is good news. Can you try to execute the steps from above on the raspberrry? Perhaps we removed some functionality by accident.

[2019-09-09 19:45] Tediore commented on #171
I tried running the commands on the pi and the discovery command didn't list the TV, so I unfortunately couldn't try the pairing command.

[2019-09-19 15:44] jlusiardi commented on #171
ok, can you please run `git checkout 0.15.0`. This should go back to the current released state and then try running the commands again?

(Sorry the reply took so long, been busy at work)

[2019-10-03 15:44] niemyjski commented on #170
Is there any updates on this? If I can help test anything please let me know.

[2019-10-03 16:20] Jc2k commented on #170
There are some other pairing variants in the latest spec, maybe this doesn't support the original pairing variant for some reason.

@niemyjski bit of an ask but are you able to get a pcap dump of traffic flowing between an iOS device and your TV whilst pairing?

[2019-10-04 12:21] niemyjski commented on #170
If you can tell me exactly what I'd need to do I'd be more than happy to do
it.
Thanks
-Blake Niemyjski

On Thu, Oct 3, 2019 at 11:20 AM Jc2k <notifications@github.com> wrote:

[2019-10-04 13:05] Jc2k commented on #170
It really depends on your network setup, hardware and is.

If you have a desktop or laptop that can run wireshark you might just be able to run your wlan card in monitor mode and tell it to look for traffic between your iOS ip and your tv ip. This can be very OS and hardware dependent and I haven’t done it in a good long time. As your iOS device will be WiFi based this should work even if the tv i

[2019-10-04 17:34] niemyjski commented on #170
I'm running all on ubiquity and the tv and Apple TV are hard wired. I'm on
Mac and can run Wireshark on the same network. Last time I tried to sniff
HomeKit traffic I didn't have much luck so pointers welcomed.
Thanks
-Blake Niemyjski

On Fri, Oct 4, 2019 at 8:05 AM Jc2k <notifications@github.com> wrote:

[2019-10-07 05:33] jlusiardi commented on #170
Hey,
I guess your mac, the TV and the Apple TV are on the same wired network, but connected via a switch?

(see https://en.wikipedia.org/wiki/Network_switch#Overview)

Perhaps https://wiki.wireshark.org/CaptureSetup/Ethernet#Switched_Ethernet will explain further and can help solve this issue.

-Joachim Lusiardi

[2019-10-07 08:10] Ulrar commented on #170
I have HA running on a pi, I'm guessing a tcpdump file from the pi while trying to pair the TV is what you're looking for ? You can open that up in wireshark to look at the packets.
As mentioned in the other issue though I have an LG C9, not an appel TV, but I suppose it's the same problem.

I'm attaching the pcap file, it was running from the moment I clicked "configure" in HA to after the error.

[2019-10-07 08:14] Jc2k commented on #170
We could do with a capture between a iOS device and the tv ideally so we can see if it is using one of the new pairing handshakes.

[2019-10-07 08:19] Ulrar commented on #170
I don't have any iOS devices so I can't help with that, sorry

On Mon 7 Oct 2019, 09:14 Jc2k, <notifications@github.com> wrote:

[2019-10-17 00:48] chrisburns007 opened #172 "set_hue_get_callback not defined"
Line 46 of hue.py states set_brightness_get_callback instead of set_hue_get_callback... this appears to be a typo but result is set_hue_get_callback is not defined.

    def set_hue_set_callback(self, callback):
        self._hueCharacteristic.set_set_value_callback(callback)

    def set_**brightness**_get_callback(self, callback):
        self._hueCharacteristic.set_get_value_callback(callback)

[2019-10-17 05:43] jlusiardi commented on #172
Thanks! Fixed that :)

[2019-10-17 05:43] #172 closed

[2019-10-25 14:22] Ulrar commented on #170
Just remembered my girlfriend does have a mac laptop. Googling it looks like that won't do though, is that correct ? No way to use a macos laptop to initiate pairing and capture what you'd need ?

[2019-10-26 06:27] jlusiardi commented on #170
Hi,

I found https://appleinsider.com/articles/18/06/05/hands-on-controlling-your-smart-home-with-homekit-on-macos-mojave which states from MacOS Mojave onwards this should be possible. **But** adding new devices is not possible in Mojave. Perhaps this was improved in MacOS Catalina.

@netmanchris, I saw your cool analysis from https://www.youtube.com/watch?v=y5L21gjEyC4 do you have a Catalina ena

[2019-12-04 16:20] Tediore opened #173 "Feature request: Add support for Abode home security system"
Abode has recently released HomeKit support for all of its security gateways (gen 1, gen 2, and Iota). Gen 1 and 2 HomeKit support is currently in beta, but I have access to it for my gen 1 gateway.

Home Assistant recognizes the Abode gateway as a HomeKit device, but pairing with HomeKit Controller ultimately fails even when using the correct HomeKit code. It says "pairing failed as the device ca

[2019-12-04 19:02] Jc2k commented on #173
@Tediore Are you able to pair using the homekit_python CLI tools? @jlusiardi isn't a HA user so won't be able to help if you can't reproduce the problem with the CLI tools.

If you can pair with it with the homekit_python CLI then it will be a HA ticket and we'll need to take it over there...

[2019-12-04 19:18] Tediore commented on #173
Ah whoops. 🤦‍♂ Thanks, I'll try with the CLI.

[2019-12-05 00:01] Tediore commented on #173
I am indeed unable to pair using the CLI. I receive the following error:
`Remote end closed connection without response`

It then no longer shows up in the list of devices when I run `homekit.discover` until I disconnect the gateway from the network by unplugging the Ethernet cable or if after what seems like a random period of time if I leave the gateway alone.

Here's the output for it from `hom

[2019-12-05 06:46] jlusiardi commented on #173
Glad to see people using more accessories with this software. Or at least try to ;)

Yes kind of, this warning means AFAIK that Abode is not using a hardware chip to handle the HomeKit Crypto (but not 100% sure though). The feature flag is hitting the same spot. Nevertheless this should not be bad.

I have a few questions to further help you:
- can you tell me which version of the HomeKit_python m

[2019-12-05 15:27] Tediore commented on #173
- I just `pip install`ed the tool yesterday, but then I ran this to fix an issue with a `KeyError` I was getting:
[code]
- There doesn't appear to be a way to reset the HomeKit part, but I can certainly reach out to Abode support about this if you think it'd be important.
- I will do this tonight. Wanted to at least answer the other questions now as it appears we are in much different time zones (

[2019-12-06 00:31] Tediore commented on #173
Alright, here's the log output: https://paste.ubuntu.com/p/px78Wx24b4/

[2019-12-09 06:07] chrismccracken commented on #173
+1

[2019-12-09 16:21] Tediore commented on #173
I'm trying to find someone with the Abode Iota system who would be willing to try pairing with the CLI to see if this issue is simply because HomeKit support for the gen 1 and gen 2 gateways is still in beta. Hopefully I can have some information regarding that soon.

[2019-12-09 18:42] jlusiardi commented on #173
@Tediore looks like a pretty standard config to me. I can only guess.

Did you double check the pin?

Is the pin static or regenerated on each pairing attempt?

That also might be a suspect ;)

[2019-12-09 18:46] Tediore commented on #173
Yes, I made sure to double-check the PIN. The PIN appears to be static.

I figured it being beta would be a likely cause, but I wanted to check with you anyway. 😉 That's also why I'm looking for someone with an Iota system that would be willing to help out.

Thanks for the help so far!

[2019-12-09 19:09] Jc2k commented on #173
It would be good to get a pcap of a successful pairing with an iOS device. A wire shark dump of promiscuous WiFi monitoring on tcp ip connections between an iPhone/iPad and the gateway. Because if you can pair with iOS then it probably is on our side that needs fixing.

https://wiki.wireshark.org/CaptureSetup/WLAN

[2019-12-09 19:16] Tediore commented on #173
I can definitely try that. I'll read up on and install WireShark and give it a try this week.

[2019-12-10 03:27] Tediore commented on #173
Alright, I have the output for all packets sent to/from the gateway. The gateway is 10.0.0.45 and the iPad is 10.0.0.54 (oddly enough)
[output.zip](https://github.com/jlusiardi/homekit_python/files/3942863/output.zip)

[2020-01-04 06:44] Tediore commented on #171
Sorry for the incredibly late reply. I tried pairing with the TV again. Here's what discovery shows for it:
[code]
When I try to pair it, the TV recognizes that it's paired to a controller, but homekit python doesn't appear to. Here's the output from the pairing process: https://paste.ubuntu.com/p/k6gnfhkb6N/

When I try to run `python3 homekit/get_accessories.py -f tv.json -a TV --log DEBUG`, it

[2020-01-04 11:48] Jc2k commented on #171
This looks like a `cryptrography` library version error. Can you do `pip list | grep cryptography`. You need version 2.5 or higher.

[2020-01-04 14:01] Tediore commented on #171
I have version 2.6.1 installed.

[2020-01-04 15:49] Jc2k commented on #171
In my dev env I see this:

[code]

I tested with a fresh venv and `cryptography==2.6.1`, and i have the attribute that your env thinks is missing.

What is your host OS? I wonder if your openssl version is too old.

[2020-01-04 20:04] Tediore commented on #171
I'm running Raspbian 10. I have OpenSSL 1.1.1c. `apt upgrade` tells me there's a newer version, so I'll update to that.

[2020-01-04 20:08] Jc2k commented on #171
I think 1.1.1c should be new enough, and Raspbian 10 should be new enough too.

Can you run the commands i pasted in the shell above and see if you get the same result?

[2020-01-04 20:09] Tediore commented on #171
Unfortunately I get the same error as before:
[code]

[2020-01-04 20:29] Jc2k commented on #171
What about

[code]

[2020-01-04 20:48] Tediore commented on #171
Well there it is. `'2.3.1'`.

[2020-01-05 12:28] Jc2k commented on #171
Ok - it will be too hard to figure out how but you have some sort of contamination in how you are running the commands so the host (maybe) cryptography package is getting used but `pip` can see a different one. The host one is too old, hence the exception. Lets just start from the top with a fresh virtualenv.

[code]

I've tried to use the most explicit ways of running the commands. E.g. its quite

[2020-01-05 19:17] Tediore commented on #171
Okay, figured it out. Explanation after.

Here's the output from `python3 homekit/get_accessories.py -f tv.json -a TV -o compact --log DEBUG`: https://paste.ubuntu.com/p/Zs668mgMxf/

And here's the output from `python3 -m homekit.get_accessories -f tv.json -a TV -o json`: https://paste.ubuntu.com/p/Qwn4j6CVVY/

So...one of my other venvs (`xbox-smartglass-rest`) that I created after I created the

[2020-01-05 19:24] jlusiardi commented on #171
Hey @Jc2k

Thanks for figuring that out!

Hey @Tediore

Cool to see the progress!

Awesome job by the both of you!

[2020-01-05 23:10] jzee commented on #170
Facing the exact same symptoms and logs on an LG TV and looked for the latest protocol spec.

It appears Apple gives out R2 to non-commercial users. I'm not sure what you @Jc2k have been working with but [here's an implementation](https://github.com/apple/HomeKitADK/blob/master/HAP/HAPPairingPairSetup.c) against R14 uploaded a few days ago. Can you spot anything obvious in the handling of M4? (sta

[2020-01-06 22:01] Jc2k commented on #170
Our pairing code was written against R1, and one thing i've been meaning to dig into was whether the Transient and Split pairing modes that are lightly touched on in R2 of the spec could be at play. In a transient pairing there is no M5 or M6, but that only happens if we set kTLVType_Flags.

In addition, if you trigger split pairing then you can reuse an SRP code. I think you can create a secure t

[2020-01-06 22:20] Jc2k commented on #170
https://github.com/apple/HomeKitADK/blob/d1174d26f4986f66402b37b46d7239599e1533b3/HAP/HAPPairingPairSetup.c#L597-L805

I don't think we currently do any of that.

Or this:

https://github.com/apple/HomeKitADK/blob/d1174d26f4986f66402b37b46d7239599e1533b3/HAP/HAPPairingPairSetup.c#L204-L235

[2020-01-11 11:05] jlusiardi commented on #171
So, since it was some virtual env with some problems, can we close this one here?

@Tediore could you try to make a pull request with a filled https://github.com/jlusiardi/homekit_python/blob/master/doc/tested_devices/Homekit%20Device%20Test%20Template.ipynb?

[2020-01-11 13:08] jlusiardi commented on #170
There seems to be a new way to pair HomeKit accessories present in R2 of
the HAP Specification.

Let's do some comparing of R1 vs. R2.

For easier navigation use the next table:

section | Revision 1 | Revision 2
---  | --- | ---
start of pairing | Chapter 4.7 page 39 | Chapter 5.6 page 34
definition of methods | Table 4-4 page 60 | Table 5-3 page 49
pairing type flags | N/A | Table 5-7 page 51
TL

[2020-01-11 15:22] jzee commented on #170
Did that, modified the constant straight in the installation. Here's the log output. If you DM me the instructions of how to get to a debugging setup so I can run `python3 -m homekit.pair -d XX:XX:XX:XX:XX:XX -a mytv -f pairing.json --log DEBUG` or the like from the console i can maybe do some more investigations.

`Traceback (most recent call last):
  File "/usr/src/homeassistant/homeassistant/co

[2020-01-11 15:37] jzee commented on #170
Something just happened, it worked! Without having a lot of information how to debug the install properly, I went into `log_support.py` and hardcoded the call to `getLogger().setLevel(5)`, then I restarted HA. Note that the "PairSetup" was still set to 0, as @jlusiardi suggested.

The TV shows as paired now and reads out the firmware version properly. I have yet to find out what more I can do with

[2020-01-11 15:46] jlusiardi commented on #170
ok, great!

can you execute
-  `python -m homekit.get_accessories -a mytv -f pairing.json --log DEBUG` and
-  `python -m homekit.discover --log DEBUG`
and post the results?

I guess we must find a way to get the version of the protocol before starting a pairing...

[2020-01-11 16:15] jzee commented on #170
- `python -m homekit.get_accessories -a mytv -f pairing.json --log DEBUG`

doesn't find `pairing.json`. I grep'ed through the HA docker instance and the host, there is no such file. Where do I find it?

-

[2020-01-11 16:32] Jc2k commented on #170
I'm guessing you are using Home Assistant's web front end to pair rather than the homekit_python projects CLI? (HA doesn't use a pairing.json and wont understand category 31 yet)

[2020-01-11 16:34] jzee commented on #170
that's correct, I'm unaware of how to use the homekit's CLI. I can have a look at a clean install of it, any pointers are appreciated.

[2020-01-11 16:38] Jc2k commented on #170
There's a file in `configuration/.storage/homekit_controller-entity-map` that is similar to (has all the same data as) the output of `homekit.get_accessories`. Review it before posting - it may have e.g. your TV's serial number.

I can try and tell you how to get the pairing data out of HA when i get back home tonight/tomorrow.

[2020-01-11 16:47] jzee commented on #170
that should be it

[homekit_controller-entity-map-cleansed.txt](https://github.com/jlusiardi/homekit_python/files/4049541/homekit_controller-entity-map-cleansed.txt)

[2020-01-11 17:01] jzee commented on #170
I just ran the discover from the CLI client after walking through the installation and it coughs at cat 31 as well, with an identical traceback. I checked out `master`

[2020-01-11 17:54] jlusiardi commented on #170
from [homekit_controller-entity-map-cleansed.txt](https://github.com/jlusiardi/homekit_python/files/4049541/homekit_controller-entity-map-cleansed.txt):

[code]
which states a version of `1.1.0`. So far so good. But I think we should have the version information **before** pairing.

@jzee: I just pushed a new commit with an added category 31 (as TV). Can you pull and try again?

[2020-01-11 18:18] Ulrar commented on #170
I just got home and haven't paired my TV at all, happy to help if I can.
Not sure how to pull the latest version of homekit_python into home assistant though, should I just git clone the repo and copy the files or is there an easier way ?

[2020-01-11 19:49] Ulrar commented on #170
I can confirm that switching the PairSetup to 0 and then restarting home assistant makes pairing work.
Now unfortunately home assistant doesn't support TVs on this homekit integration, so it doesn't do anything, but at least it got rid of the persistent notification.

[2020-01-11 20:42] Jc2k commented on #170
Off topic for here, but @Ulrar can you share your `configuration/.storage/homekit_controller-entity-map` too? The more TV's I can see the soon/better the HA TV code will arrive/be

[2020-01-11 20:53] Ulrar commented on #170
There it is. Not sure what I should or shouldn't edit out so I just removed the mac, serial number and what I assume must be the key.
Let me know if you need anything else, thanks !

https://gist.github.com/Ulrar/30a9fe78e962895cce65413982e2ceaf

[2020-01-11 21:31] jzee commented on #170
@jlusiardi this commit fixed it. Here's the discovery output

[2020-01-11 22:17] Jc2k commented on #170
So `pv` is 1.1 for the LG webOS TV, and we have to use `PairSetup==0`. But looking at my home network both my Hue and Eve Extend are `pv` 1.1 and work with the existing code. So I don't know if its enough to key off `pv`.

Both the hue and Eve Extend have `ff` of `1` and the TV has an `ff` of 8.

Looking at all the working IP devices in tested_devices, they are a mixture of protocol 1.0 and 1.1 an

[2020-01-12 09:29] Jc2k commented on #171
Not entirely i guess - there are a bunch of characteristics in there that we don't understand. E.g. service D8:

[code]

There is data we can use in HAP-nodejs here - https://github.com/KhaosT/HAP-NodeJS/blob/master/src/lib/gen/HomeKit-TV.ts.

But I can't see TV's mentioned in the R2 docs or the open source HAP implementation from Apple.

[2020-01-12 14:15] jlusiardi commented on #171
@Jc2k can you have a look for branch fix_171_include_service_and_characteristics_for_television where i try to add support for TVs?

[2020-01-12 16:39] jlusiardi commented on #170
@Jc2k sadly there is not much information about the `ff` value of the bonjour record in the R2 Spec. It references a table which is pretty useless.

[2020-01-12 17:11] Jc2k commented on #171
Had a quick look earlier, looks good. Will see if it can parse the sample data when I get a minute.

[2020-01-12 17:14] Tediore commented on #171
Need me to do anything?

[2020-01-12 17:20] Jc2k commented on #170
Yes its weird that there is a table in R2 but its empty.

In the official ADK the bonjour data for `ff` is set [here](https://github.com/apple/HomeKitADK/blob/d1174d26f4986f66402b37b46d7239599e1533b3/HAP/HAPIPServiceDiscovery.c#L86). It uses the function [HAPAccessoryServerGetPairingFeatureFlags](https://github.com/apple/HomeKitADK/blob/d1174d26f4986f66402b37b46d7239599e1533b3/HAP/HAPAccessoryServ

[2020-01-12 17:23] Jc2k commented on #171
@Tediore I'd quite like to see the output of `python3 homekit/get_accessories.py -f tv.json -a TV -o compact` on @jlusiardi 's  [fix_171_include_service_and_characteristics_for_television](https://github.com/jlusiardi/homekit_python/tree/fix_171_include_service_and_characteristics_for_television) branch if you are able to help. It should be able to decode more of the field names now.

[2020-01-12 17:24] Tediore commented on #171
Sure thing, I can do that.

[2020-01-13 04:54] Tediore commented on #171
Welp, I'm not sure this will be much help, but here's the output from that command after I checked out that branch: https://paste.ubuntu.com/p/PxhBsZytQg/

[2020-01-13 07:11] jlusiardi commented on #171
Hi @Tediore,

I added some more fixes and am now able to start a demoTV (not usable with an iOS controller though).

Using a file `demoTv.json` like
[code]
gives me an output after pairing and executing `PYTHONPATH=. python3 homekit/get_accessories.py -f test_controller.json -a demo` like following:

[code]

Can you try again please?

[2020-01-13 22:54] Tediore commented on #171
I pulled the latest changes from the `include_service...` branch and ran the command again. Unfortunately I still see a lot of "unknown characteristic": https://paste.ubuntu.com/p/C6HzF2K68N/

[2020-01-14 06:35] jlusiardi commented on #171
sorry for the inconvenience. can you run
[code]
and post the output? I just want to make sure, no old version of the library is used. Thanks!

[2020-01-14 22:21] Jc2k commented on #170
Another user from HA reported issues pairing. They have a VOCOlinc L3 bulb.

Instead of this exception in their case the pairing process hung after M3 but before the asset / IndexError.

This device has an `ff` of 2 and `pv` of 1.1. The same patch as above allowed pairing to work - they were able to pair through the HA front end as well.

This is another case where `ff & SupportsAppleAuthenticatio

[2020-01-14 22:34] Jc2k commented on #170
Trying to find something we can use in lieu of spec...

This is part of the official Apple HAP ADK for PairSetupWithAuth:

https://github.com/apple/HomeKitADK/blob/d1174d26f4986f66402b37b46d7239599e1533b3/HAP/HAPPairingPairSetup.c#L612-L623

My reading of this code is that an accessory made with that spec would return an `kHAPError_InvalidState` if you tried to do an `M4` on a device that *didn't*

[2020-01-14 23:26] jzee commented on #170
@Jc2k building a mock accessory is actually what the ADK repo comes with out of the box (try “make Target=Linux Apps” on a Linux VM) - so doing that exercise is fairly easy. I spent the better part of Sunday fiddling with it and getting it on the network showing up as a node on iOS is trivial.

I still failed on getting it to use a setup code so I could get further down the auth process - out of t

[2020-01-15 04:33] Tediore commented on #171
So I ran that and installed some things I didn't have before and accidentally exited out of the terminal window...sorry about that. Nevertheless, I ran the command again that @Jc2k requested and unfortunately it returned the same output.

[2020-01-15 06:33] jlusiardi commented on #171
Hey @Tediore,
no problem, short explanation what the commands do:

`python3 -m venv test_env` creates a virtual python environment. This is handy to have different setups for different tools (allowing different versions of the same library installed in each virtual env). needs to be done once.

`source test_env/bin/activate` activates this environment, meaning you use only the packages installed i

[2020-01-15 06:44] Tediore commented on #171
Oh sorry, I explained that poorly. I'm familiar with those commands (I usually spin up a new venv if I install a new command line tool to avoid dependency issues). Whenever I've been running the discovery, pairing, etc. commands you guys have been giving me I've had the venv activated and have been in the homekit_python directory. I thought for some reason you wanted to see the terminal output fro

[2020-01-15 07:05] jlusiardi commented on #170
I think we should collect a table of devices here... Perhaps different (firmware)versions of the same device have different behaviors?

Feel free to add devices:
https://docs.google.com/spreadsheets/d/17KzVh7pLqO6R0eqJUiliJCvOMSgqTjuYDYmBdGhaNvs/edit?usp=sharing

[2020-01-15 08:09] Jc2k commented on #170
I used demoaccessory and twiddled the `pv` and `ff` bonjour data, and captured the TLV_Method attribute when pairing with an official iOS 13 client.

Results:

[code]

An official client will use PairSetup = 0 if `ff` is 0 (and this is what triggers the uncertified device warning also).

Annoyingly though `ff 8` does use the failing version of PairSetup, so i suspect that using PairSetup = 0 is ac

[2020-01-15 08:15] jlusiardi commented on #171
Ok sorry,

Do you have the pairing data from your previous test somewhere? They need to be in the `test_controller.json` file.

Normally the steps would be

1. `PYTHONPATH=. python3 homekit/init_controller_storage.py -f test_controller.json`
2. `PYTHONPATH=. python3 homekit/pair.py -d ${DEVICEID} -p ${SETUPCODE} -f test_controller.json -a demoTV`
3. Use the pairing e.g. `PYTHONPATH=. python3 homek

[2020-01-15 16:43] Tediore commented on #171
Aaaand I'm dumb. I was running the `python3 homekit/get_accessories.py -f test_controller.json -a demoTV` command literally like that expecting it to work on my end for... some reason. 🤦‍♂
I'll run that command with my actual device parameters.

Sorry that I'm so bad at this... I really am trying to help but if you think it's not worth it at this point I wouldn't be offended if you told me that.

[2020-01-16 01:52] Tediore commented on #171
Same situation unfortunately: https://paste.ubuntu.com/p/6pHtfgGVjW/
https://paste.ubuntu.com/p/vRKFx8nnyc/

[2020-01-17 06:23] jlusiardi commented on #171
can you add this line to `homekit/__init__.py` from the local clone?

[code]

This should print something like `homekit: I was imported from /home/jlusiardi/Dokumente/src/homekit_python/homekit/__init__.py`. If the code from the module does not get loaded from the local clone then it will most likely not print anything.

[2020-01-18 20:44] Tediore commented on #171
Ok, just to clear up any potential issues, I uninstalled homekit, deleted everything, recreated the venv, recloned the repo, switched to the include_services... branch and ran the command again. Now there are more visible characteristics:
https://paste.ubuntu.com/p/cr6xXMdsX4/
https://paste.ubuntu.com/p/jNBS5yM8C3/ (JSON)

Again, I'm sorry about all the trouble.

[2020-01-19 17:36] jlusiardi commented on #171
No Problem.

Did you try to read / write some of the characteristics? Like volume up / down on 1.26?

Perhaps I should implement some more of the Characteristics / Services from https://github.com/KhaosT/HAP-NodeJS/blob/master/src/lib/gen/HomeKit-TV.ts in this repo.

[2020-01-31 18:19] GitHub-0614 opened #177 ""HAP PDU not recognized or supported" when trying to lock/unlock the Yale (Homekit enabled BLE) lock"
Hi, I am trying to use this to control a Yale smart lock, a Homekit enabled smart lock using BLE.
Everything works fine (pair, list_pairings, get_accessories, get_characteristic, etc.) until I try to lock/unlock the lock with the put_characteristic command.
According to the DEBUG log, a status code of 1 is returned, indicating "The request failed as the HAP PDU was not recognized or supported".
An

[2020-01-31 21:24] a3135134 commented on #177
The problem may be caused by wrong OpCode. This characteristic requires a tw (Timed Write Procedure) operation. But in  homekit\controller\ble_impl\__init__.py line 365, only HapBleOpCodes.CHAR_WRITE is used.

[2020-01-31 21:27] GitHub-0614 commented on #177
I agree with @a3135134 .
As per HAP Specification：

7.3.5.4 HAP Characteristic Timed Write Procedure
The HAP characteristic timed write procedure will write to characteristic that require time sensitive actions. An example is security class characteristics (Lock Target State, Target Door State, etc.). The accessory must indicate the characteristic requires the timed write in the HAP Characteristic

[2020-02-01 06:58] GitHub-0614 commented on #177
@jlusiardi @a3135134
I managed to change the codes to successfully send lock/unlock commands.
see the codes below (homekit/controller/ble_impl/__init__.py):

def put_characteristics(self, characteristics, do_conversion=False):
...
            # procedure(1) send CHAR_TIMED_WRITE requst
            value = TLV.encode_list([(1, self._convert_from_python(aid, cid, value))])
            # the value of

[2020-02-01 15:57] jlusiardi commented on #177
Hi @GitHub-0614,

Just to be sure, what the timed write does here: will it change the target-state of the lock for `0x0f* 100ms = 1,5s` (to open most probably)? Whick lock do you own exactly, perhaps I can get one myself.

I am not really sure if I got your change correctly. Can you please create a diff?

Is the requirement, to add an option to set the kind of write for some characteristics? Or ca

[2020-02-02 00:25] GitHub-0614 commented on #177
Hi @jlusiardi
Different characteristics require different types of write request. As far as I know, there are at least two types (and probably the 2 most common types): Characteristic Write and Characteristic Timed Write.

**1.  Characteristic Write**
This is what you already did in your codes (line 365, homekit/controller/ble_impl/__init__.py):
`response = self.session.request(fc, cid, HapBleOpCo

[2020-02-02 00:31] GitHub-0614 commented on #177
This is the modified codes.
[__init__timed_write.py.txt](https://github.com/jlusiardi/homekit_python/files/4143398/__init__timed_write.py.txt)

[2020-02-02 00:40] GitHub-0614 commented on #177
I only modified it so that I can use "put_characterisitc" command to unlock/lock my lock.
However, to make "put_characterisitc" command support all characteristics (e.g., both pw and tw), more modification is needed.
We can let the user choose, by adding more parameters to the command, such as -tw, -ttl, etc.

Or, we can automatically choose which procedure (e.g, the CHAR_WRITE procedure or the CH

[2020-02-02 00:42] GitHub-0614 commented on #177
The lock I used:
The "Apple Homekit enabled" version

https://www.amazon.com/Yale-Security-YRD256-iM1-605-Assure-HomeKit/dp/B073V7SG1H/ref=sr_1_1_sspa?keywords=yale+assure+lock+sl&qid=1579815104&sr=8-1-spons&psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyT0EwOEFKSkE1S05UJmVuY3J5cHRlZElkPUEwMTY5Mzc3MTlGT05MM1pSRU4xQSZlbmNyeXB0ZWRBZElkPUEwNzIxNTY0MTVFUVUxQk8zRjBCViZ3aWRnZXROYW1lPXNwX2F0ZiZhY3Rpb249Y2xpY2tSZ

[2020-03-16 19:40] earlthesquirrel opened #179 "Is there a way to generate the -f ${PAIRINGDATAFILE} for existing devices?"
I'd like to remove a device and was trying to figure out the PAIRINGDATAFILE.
Since the device was added using a different mechanism, I don't have a file to start with.

I'm trying to reset a device that hasn't unpaired correctly... which this package would be great for.

[2020-03-16 19:58] Jc2k commented on #179
Can you give some more context about whats happened?

In general the answer is no - the pairing data file contains the results of a cryptographic exchange and includes the only copy of the only private key the accessory trusts.

[2020-03-16 20:09] earlthesquirrel commented on #179
I have a device (a motion sensor) installed based on a Particle.
The device doesn't show up in the negative home app (I deleted from there) but using  python3 -m homekit.discover it shows up as paired.  (I have a couple devices that have gotten into this state... the Particle has been what I've been using to test with, to try to figure out what's not happening properly when the device is removed f

[2020-03-16 20:10] jlusiardi commented on #179
Hi @earlthesquirrel,

each HomeKit accessory has its more or less unique way to reset it (and by that remove all pairings). E.g. I have OSRAM SMART+ Classic E27 Multicolor (BLE)  which must be turned on and of with a special pattern. Look into the manual for the device.  HTH.

Joachim

[2020-03-16 20:11] earlthesquirrel commented on #179
Well one product my company produces (so the manual is what we write :-) )
So, trying to figure out if something is left over in the Homekit DB, etc.
This particle based motion sensor is something that I've been able to get into the same state... which made it useful for debugging.. the question is now how to clear this info..

[2020-03-16 20:14] jlusiardi commented on #179
I do not exactly know this `particle` or the software you are running on it but there should be some kind of storare in flash/eeprom?

[2020-03-16 20:19] earlthesquirrel commented on #179
It's a Particle photon (see : https://store.particle.io/?utm_term=&utm_campaign=Dynamic+Search+Ads+-+S8&utm_source=adwords&utm_medium=ppc&hsa_grp=67675299738&hsa_acc=5060272854&hsa_tgt=dsa-835611334005&hsa_kw=&hsa_src=g&hsa_mt=b&hsa_cam=1697512981&hsa_ver=3&hsa_ad=329939807759&hsa_net=adwords&gclid=EAIaIQobChMItO_pq-if6AIVAuiGCh3xQQrhEAAYASAAEgLjivD_BwE)    The SW I've based this off of is : https

[2020-03-16 20:19] earlthesquirrel commented on #179
I could try changing the pairing code in my code... not sure if that would do it...
Just wanted to make sure no left over data was orphaned...

[2020-03-16 20:26] jlusiardi commented on #179
https://github.com/ljezny/Particle-HAP/blob/master/src/HKPersistor.cpp#L19 suggests it is stored in some kind of eeprom. Perhaps https://community.particle.io/t/how-to-do-a-factory-reset/2579 might help, but you need to reinstall the homekit code again.

[2020-03-18 19:13] jlusiardi commented on #179
Hello @earlthesquirrel
is there anything more we can do here?

[2020-03-21 12:29] jlusiardi commented on #179
I do not think we can do much here

[2020-03-21 12:29] #179 closed

[2020-04-03 15:13] elmopl opened #181 "get_events fails for Tado Internet Bridge"
I am not sure if that is a known problem.
I have just bought a Tado system and `homekit` module has worked like a charm to pair up with it and then to query accessories and control them.

[code]

Everything is working fine except for `get_events`. I was hoping I could avoid active polling temperatures and it seems homekit has `get_events` that should just keep on getting updated when new value com

[2020-04-03 15:28] Jc2k commented on #181
I have seen this with tado bridges, but same code works fine with many other devices. The empty string is actually the tado resetting the tcp connnection afaict.

We have previously had to change homekit_python to work around tado having a verrrry picky HomeKit implementation. It’s probably that the http message is subtly different to what a real iOS client sends.

[2020-04-03 15:36] elmopl commented on #181
I guess this answers the question.
As I am planning to push all my data to one mqtt queue, I guess I can just have a small script that polls state of things every minute or so and hide away that.

If there are any hints into what to look into in terms of protocol I might give it a shot to make it work (even if it's not going to get merged into main release having a working code locally would be us

[2020-04-03 15:52] Jc2k commented on #181
I think we should try and understand what we are doing differently to iOS if we can. It might be as simple as sending “ev”: 1 instead of “ev”: True or tweaking one of the headers we send.

[2020-04-03 16:09] jlusiardi commented on #181
hey @Jc2k this could be a thing for [the debug](https://github.com/jlusiardi/homekit_python#debug_proxy) I've added lately to work on the IP Camera stuff. What do you think for debugging the tado get events with the proxy between an iPhone and a tado device? At least the question with the `“ev”: 1` vs. `“ev”: True` from the phone to the accessory should be solvable...

[2020-04-03 16:11] elmopl commented on #181
I tried "1" (as int) in json payload sent, but seems to have made no difference.
The only Apple device I have access to is iPhone. Is there a way to make iPhone attempt to get events so I could peek at what it sends?

[2020-04-03 16:14] jlusiardi commented on #181
@elmopl few questions:
- can you use the master from this git?
- can you please attach what the `discover` command prints?

Perhaps we can use the phone and  [the debug proxy](https://github.com/jlusiardi/homekit_python#debug_proxy) to figure out what the phone sends to activate the events.

[2020-04-03 16:23] Jc2k commented on #181
Sounds like a great opportunity to use the debug proxy!

To answer question about get events and iPhone - there isn’t a specific command, it will just always enable events if they are supported.

[2020-04-03 16:29] elmopl commented on #181
[code]

[2020-04-03 16:37] elmopl commented on #181
So I managed to get debug_proxy running, however I am not sure how to trigger "get_events" from iPhone "Home" app.
Oddly enough "Home" app does not respect or acknowledge Tado's max temperature limitation.

However I can see commands being sent through the proxy.

[2020-04-03 17:15] jlusiardi commented on #181
cool!  My guess is, that the home app activates events as soon as it is started.

so I guess the best thing to do is:

1. close the home app
2. wait till nothing happens in the log of the proxy anymore
3. hit enter a few times to get a visual separation
4. start the app again
5. post everything after the visual separation (perhaps as gist)

(or just redirect directly into a file after restarting t

[2020-04-03 17:27] elmopl commented on #181
[code]

Is that important?
It doesn't seem to stop anything from working.

[2020-04-03 17:28] elmopl commented on #181
And output from just opening the Home app after a long time of inactivity:

[code]

[2020-04-03 17:34] elmopl commented on #181
Also, I found this https://climespace.staging.mink-agency.com/storage/publications/pdf/xWdVNKrwE7NgZ6lhwdts6B22bJwo2GLfd314P5Qf.pdf

Not sure how reliable this is as a source for the homekit protocol, however it has this description (page 90):

So it sounds like Tado is responding as described.

[2020-04-03 17:48] Jc2k commented on #181
Would it be useful to repeat this with DEBUG_CRYPT (https://github.com/jlusiardi/homekit_python/blob/master/homekit/accessoryserver.py#L202) set your true to see the raw http from the iPhone?

[2020-04-03 17:56] elmopl commented on #181
[code]

[2020-04-03 17:59] elmopl commented on #181
So changing (remove spaces from json):

[code]

to

[code]

Makes get_events "hang".
And changing the temperature I got event for it.

So it seems to be spaces it is fussy about.

[2020-04-03 18:00] elmopl commented on #181
Better fix:

[code]

[2020-04-03 18:14] Jc2k commented on #181
Wow. Well if the iPhone sends it without spaces *and* the tado relies on this then it sounds like something homekit_python should do too, though thats definitely not mentioned in the spec! :-p

[2020-04-04 06:50] jlusiardi commented on #181
@elmopl just to figure out if the device is also picking on writing characteristics, can you please try if this also fails (it should, because we write json to the tado):

[code]

[2020-04-04 15:39] #181 closed

[2020-04-04 15:44] jlusiardi commented on #181
closing since #182 was merged

[2020-04-05 09:52] jlusiardi commented on #168
I think we can close this because of inactivity.

[2020-04-05 09:52] #168 closed

[2020-04-05 09:53] jlusiardi commented on #146
I think we can close this because of inactivity.

[2020-04-05 09:53] #146 closed

[2020-04-05 09:54] jlusiardi commented on #145
I think we can close this because of inactivity.

[2020-04-05 09:54] #145 closed

[2020-04-12 05:55] jlusiardi opened #184 "provide valid value for characteristic "E863F131-079E-48FF-8F27-9C2605A29F52" of Eve Energy Strip"
Hello @tobekas,

I hope you don't mind if I open a new issue for your comment on a closed PR (https://github.com/jlusiardi/homekit_python/commit/3f751a511e3dd2f5338c778994827a3a76f79f57#r38436428).

Since most of these non-standard characteristics are read from / written to by compagnion apps (in this case https://apps.apple.com/de/app/elgato-eve/id917695792) we might be able to log accesses with

[2020-04-12 08:30] tobekas commented on #184
Unfortunately I did not own an Energy Strip by myself. iOS controller, yes. So I hoped that anybody could support, since I noticed that is one of your tested devices.
I play a lot around with homebridge / HAP-NodeJS and try to mimic the behavior.

[2020-04-12 10:33] jlusiardi commented on #184
Ah ok, I understand. So pinging @netmanchris was a good idea. Hope he can help.

[2020-04-19 00:14] a3135134 opened #185 "Support Windows?"
I use win 10 and install this python module. However, it raises ModuleNotFoundError: No module named '_crypt' . It seems _crypt only work on Unix/Linux, so this library also only support Linux?

[2020-04-19 05:42] jlusiardi commented on #185
Hi,
This module should also work under windows, but only for IP based accessories, no Bluetooth LE support. I have a few questions:

- how did you install the module?
- which version did you install?
- where there any errors during install?
- what is the exact output when it tries to load `_crypt`? I am not aware the `_crypt` module is loaded directly by the modules code.

[2020-04-19 21:47] a3135134 commented on #185
I used cmd " pip install homekit". When I try python -m homekit.discover, here's the log:

Traceback (most recent call last):
  File "E:\Python3\lib\runpy.py", line 183, in _run_module_as_main
    mod_name, mod_spec, code = _get_module_details(mod_name, _Error)
  File "E:\Python3\lib\runpy.py", line 109, in _get_module_details
    __import__(pkg_name)
  File "E:\Python3\lib\site-packages\homekit\_

[2020-04-19 22:05] jlusiardi commented on #185
Mh interesting point, looks like the crypt module is not available on windows (https://docs.python.org/3/library/crypt.html). Because only `crypt.mksalt` is needed, we might reimplement that?

[2020-04-20 00:55] a3135134 commented on #185
Yes. Might choose a cross-platform python lib.

[2020-04-20 06:45] Jc2k commented on #185
It looks like `crypt.mksalt` is justed used to generate random 16-byte numbers needed by Srp as salt and keys. One of the crypto libraries we already depend on (cryptography) has some advice in that case:

https://cryptography.io/en/latest/random-numbers/

It should be fine to replace mksalt with:

[code]

On python 3.6 and later an option would be:

[code]

No new libraries required.

[2020-04-20 06:48] jlusiardi commented on #185
@Jc2k  sounds good, this should be the solution.

[2020-04-20 18:23] jlusiardi commented on #185
Hey @a3135134,

can you try with branch `fix_185_homekit_on_windows`? I removed the dependency to crypt in that.

[2020-04-20 20:38] a3135134 commented on #185
I placed the homekit directory into python lib.

python -m homekit.discover
Traceback (most recent call last):
  File "E:\Python3\lib\runpy.py", line 183, in _run_module_as_main
    mod_name, mod_spec, code = _get_module_details(mod_name, _Error)
  File "E:\Python3\lib\runpy.py", line 109, in _get_module_details
    __import__(pkg_name)
  File "E:\Python3\lib\site-packages\homekit\__init__.py", li

[2020-04-20 21:06] jlusiardi commented on #185
Fixed the issue with `tlv8`.

Is there nothing behind the `OSError: [WinError 10042]`?

[2020-04-20 21:07] jlusiardi commented on #185
close was not intended?

[2020-04-20 21:11] a3135134 commented on #185
I think this is another problem. I'll have a check first
OSError: [WinError 10042] An unknown, invalid, or unsupported option or level specified in the getsockopt or setsockopt call.

[2020-04-21 12:54] jlusiardi commented on #185
So I was able to install homekit_python on a win 10 VM.

1. Python 3.8.2 and git via https://chocolatey.org/
2. create virtual env: ` py.exe -m venv venv`
3. Allow script execution: ` Set-ExecutionPolicy Bypass -Scope Process -Force;`
4. activate virtual env: `.\venv\Scripts\activate`
5. Clone Repo: ` &'C:\Program Files\Git\bin\git.exe' clone https://github.com/jlusiardi/homekit_python.git`
6. `cd

[2020-04-24 22:48] An00bIS47 opened #188 "remove_pairings over IP uses wrong Content-Type header"
Hi,

when removing pairings over IP, a wrong Content-Type header is used. It seems to use application/hap+json.

[code]
The HomeKit documentation state the following on page 48

[2020-04-25 07:20] jlusiardi opened #189 "BLE: get_accessories fails if not data is already in pairing data"
Data incompatibility between tlv8 lib and values returned from dbus.

[2020-04-25 11:44] jlusiardi commented on #188
should be fixed with #191, just waiting for the tests

[2020-04-27 20:16] An00bIS47 commented on #188
Wow. That was fast :) Thanks for that

I can verify, that the changes worked.
[code]

[2020-04-28 06:13] jlusiardi commented on #188
Cool thanks for your report & confirmation!

[2020-04-28 06:13] #188 closed

[2020-04-29 15:41] An00bIS47 opened #193 "list_pairings don't add seperators to a list of pairings"
Hi,

I have encountered another bug.

The list_pairings command should return a TLV8 list of already established pairings as you have implemented. But the items should be separated by a zero-length based separator (0XFF)
Have a look at page 46 of the Documentation.

The controller part can not handle such a separator and fails to handle the response if the response contains a separator. Without se

[2020-04-29 16:51] jlusiardi commented on #193
Hi,

You are right. I can add a separator entry here even if it is not strictly necessary (because the types of the entries differ).  This is in https://github.com/jlusiardi/homekit_python/blob/d1b22be0711d0f45f12d3391addfda16e73a299d/homekit/accessoryserver.py#L893 and following.

What is the exact problem here? Are you communicating via IP
https://github.com/jlusiardi/homekit_python/blob/d1b22be

[2020-04-29 17:08] An00bIS47 commented on #193
I am communicating over IP. Sorry, I forgot to mention this in the first post!

The output when calling the homekit.list_pairings command via IP
is for example when there are more than 1 entry in the pairings list.
[code]

I am not sure, if I am doing something wrong with constructing a separator entry but this is the output I get when using 0xFF as type and 0 as length as the seperator entry. But

[2020-04-29 17:10] jlusiardi commented on #193
No problem. I will definitely will have a look at the issue!

[2020-04-29 18:24] jlusiardi commented on #193
Could you try with the new commit and show me an example byte stream that breakst the `list_pairings` command? I could not reconstruct the bug here.

[2020-05-01 13:43] An00bIS47 commented on #193
Hi @jlusiardi

That's because the bug was on my side. Sorry for the confusion in this regard! It was indeed a  implementation of the separator entry on my side.

[2020-05-01 16:58] jlusiardi commented on #193
ok no problem, but does the branch conform more to the spec as before (in your humble opinion)?

Also, you are welcome to share knowledge and questions about homekit implementation :+1:

[2020-05-02 19:07] An00bIS47 commented on #193
I would say of course it's more conform to the spec now :) But I don't know if this was changed with R2 of the spec.

I appreciate the offer and I am glad share my experience with HomeKit :) I am writing my own implementation for an ESP32 controller and I am using the controller part from you to test my server.

I still have to implement the timed-based reading/writing (?) of characteristics and I

[2020-05-03 19:31] jlusiardi commented on #193
So you are doing this without any iOS device as a reference?

I have not investigated this field since none of my accessories uses this. But perhaps we I should ;)

[2020-05-04 14:01] An00bIS47 commented on #193
No, I use also an iOS device as a reference, but this is a bit tricky, because you don't see the exact error causing a problem. And it is difficult for an automated testing :)

Btw.: Regarding the "keep-alive" problem. This is also not a bug on your side. I have accidentally removed a CRLF from the HTTP response and this caused the trouble. Again sorry for the confusion. Sometimes a little bit mor

[2020-05-04 20:48] jlusiardi commented on #193
No problem, I also know that more-sleep-issue ;)

[2020-05-08 12:57] antrov opened #194 "Osram A60 C pairing fails with "Not enough data left. 105 vs 143""
Hi,

First of all, thank you for your work and the great bunch of code.

During pairing with Osram A60 C, I encountered following error: `Not enough data left. 105 vs 143` where both numbers differs on each run.

device manufacturer : LEDVANCE
device model : Ledvance A60 C
device firmware version : **01.1.41**
version of homekit library: **0.17.0**

Steps according to https://github.com/jlusiardi/

[2020-05-09 15:52] jlusiardi commented on #194
Hi,

since you already did a run with DEBUG flag, would you mind sharing those fails so we could analyze the exact position in code? Thanks!

Regards
Joachim

[2020-05-09 16:11] antrov commented on #194
Sure. Attached to my previous post.

[2020-05-11 14:47] jlusiardi commented on #193
I'll close this one for now. Please feel welcome to open a new one for additional questions.

[2020-05-11 14:47] #193 closed

[2020-05-11 15:10] jlusiardi commented on #194
Ok I can confirm the issue with mine es well. Will dig back to see what caused this.

[2020-05-11 15:59] jlusiardi commented on #194
seems it was introduced with 6450b5506a1d9219fbe4adf412b02134a2d4767e

Will need to have a deeper look...

[2020-05-13 04:03] belkinhappyzj opened #195 "Homekit[IP] : discovery error on windows"
Hi, my first time to use homekit_python, managed to install everything on windows platform.
Tried a discovery test "python -m homekit.discover" but got folowing error:

_Traceback (most recent call last):
  File "C:\Users\STEVENZHAO\AppData\Local\Programs\Python\Python38\lib\runpy.py", line 194, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\STEVENZHAO\AppDa

[2020-05-13 05:50] jlusiardi commented on #195
Hi,

seems that Apple introduced a new Category again. HomeKit Accessory Protocol Specification Non-Commercial Version Release R2 says, categories 33 and above are reserved ;)

Can you tell me what kind of accessory in your WiFi might be the one to return category 33?

[2020-05-13 06:59] belkinhappyzj commented on #195
Hi jlusiardi ,most likely, it is the Eero mesh router in my local network, their latest FW has put in support of homekit: https://support.eero.com/hc/en-us/articles/360036319531-How-to-use-HomeKit-with-your-eero-Network, I guess the category 33 is "Wi-Fi Router", can we update homekit_python to support it?  thank you.

[2020-05-13 16:48] jlusiardi commented on #194
It is a bug in my lib: https://github.com/jlusiardi/tlv8_python/issues/13

[2020-05-13 17:49] jlusiardi commented on #195
I will do this.

[2020-05-13 18:42] belkinhappyzj commented on #195
Hi jlusiardi, one quick quesiton regarding TLV8 value when writing charactistic, I am a newbie in HAP protocol,  can you show me some example code for writing certain charactistic using TLV8 value?  Is the formed TLV8 bytes needs to be further encoded?  thank you.

[2020-05-14 17:03] jlusiardi commented on #194
Can you try the current master please?

[2020-05-14 17:14] belkinhappyzj opened #198 "Can someone give out an example of writing Charististic with value based on TLV8 format? thank you."
Can someone give out an example of writing Charististic with value based on TLV8 format? thank you.
e.g.  with CMD :
python3 -m homekit.put_characteristic -f ${PAIRINGDATAFILE} -a ${ALIAS} -c ${Characteristics} ${value} \[--adapter ${ADAPTER}] [--log ${LOGLEVEL}]

Thank you.

[2020-05-14 17:17] jlusiardi commented on #195
Can you please try the code from master if that works?

Perhaps you can have a look at https://github.com/jlusiardi/homekit_python/blob/camera_client/homekit/get_camera_stream.py and the other code from the camera_client branch. I need to write TLV8 code stuff to some characteristics there.

[2020-05-14 17:19] jlusiardi commented on #198
It could be done with the `homekit.put_characteristic ` but it is not simple. You have to construct a TLV8 structure, encode it to bytes and encode those bytes using base64.

Perhaps you can have a look at https://github.com/jlusiardi/homekit_python/blob/camera_client/homekit/get_camera_stream.py and the other code from the camera_client branch. I need to write TLV8 code stuff to some characterist

[2020-05-14 20:29] belkinhappyzj commented on #198
thanks a lot!

[2020-05-15 09:37] antrov commented on #194
Works perfectly 👌

Loosely related question: is it normal that writing to char takes ~10s?

[2020-05-15 09:37] #194 closed

[2020-05-15 17:59] jlusiardi commented on #198
Feel free to reopen ;)

[2020-05-15 17:59] #198 closed

[2020-05-15 17:59] jlusiardi commented on #195
how was your experience with the updated code. Does it discover? Does pairing work?

[2020-05-16 00:05] belkinhappyzj opened #199 "[Pairing Accessory] About kTLVType_Method used in Pair Setup M1"
Hi, I notice homekit_python is by defaul using kTLVType_Method = 1 in pair setup M1.
May I know if it it's possible to patch it to use kTLVType_Method = 0 in M1 ?
Thank you.